<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>404 - Web Chat</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	<style type="text/css">
		body{padding:20px;}
	</style>
</head>
<body>
		<h1>噢！ 404</h1>
		<h3><%=msg%></h3>
		<p>
			<a href="/">去首页</a>
		</p>

		<h3>推荐对话空间</h3>
		<p>
			<a href="/webchat">webchat开发讨论</a> | <a href="/test">webchat 测试</a> | <a href="/about">关于</a>
		</p>
</body>
</html>