<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>vchat.co</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<style type="text/css">
		h1{margin:50px 0;}
		ul{list-style: none;margin:20px 0;}
		ul li{float:left;margin-right: 70px;text-align: center;}
		strong{display: block;}
	</style>
</head>
<body>
	
	<div class="container">
		<h1>您的浏览器老了</h1>

		<p>推荐使用</p>
		
			<ul style="height:200px;">
				<li> 
					<a href="https://chrome.google.com/" target="_blank">
						<img src="/images/chrome.jpg">
						<strong>Chrome</strong>
					</a> 
				</li>
				<li> 
					<a href="http://firefox.com.cn/" target="_blank">
						<img src="/images/firefox.jpg">
						<strong>Firefox</strong>
					</a> 
				</li>
				<li> 
					<a href="http://www.opera.com" target="_blank">
						<img src="/images/opera.jpg">
						<strong>Opera</strong>
					</a> 
				</li>
			</ul>
	</div>
	<% include common/footer.ejs %>	

</body>
</html>