<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>浏览器版本过低 - Vchat</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	<style type="text/css">
		body{padding:20px;}
		.page{width: 100%;height: auto;}
		.container{width: 900px;margin: 0px auto;height: auto;}
	</style>
</head>
<body>
	<div class="page">
		<div class="container">
			<span>亲，您的浏览器的版本过低,无法正常浏览该网站</span>
			<span>建议您...    升级您的浏览器到最新版本  下载chrome浏览器  下载firefox浏览器 下载360最新版浏览器</span>
		</div>
	</div>
</body>
</html>