<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Web Chat</title>
	<link rel="stylesheet" href="/css/all.css" />
	<style type="text/css">
		.bd{width:800px;}
		.header h1{font-size:38px;font-weight:700;}
		.header p{text-indent:2em;}

		.span{float:left;margin-top:30px;margin-right:10px;}
			.span h3{font-size:24px;font-weight: 700;margin:5px 0;}
			.span td{padding:.5em;}
			.disc-list li{list-style-type: disc;margin-left:2em;}
		textarea{min-width:20em;min-height:4em;}
	</style>
</head>
<body>
	<!-- top {user:{user}} -->
	<% include common/top.ejs %>
	<div class="container">
		<div class="bd">
			<div class="header">
				<h1>Vchat</h1>
				<p>基于主题的多人对话</p>
			</div>
			<div class="clear-fix">
				<div class="span">
					<h3>创建一个对话</h3>
					<form action="/sys/create" method="post" >
						<table>
							<tr>
								<td><label>主题</label></td>
								<td><input type="text" id="topic" name="topic" placeholder="讨论主题"></td>
							</tr>

							<tr>
								<td><label for="des">描述</label></td>
								<td><textarea placeholder="描述" name="des" id="des" ></textarea></td>
							</tr>
							<tr>
								<td></td>
								<td><input type="submit" class="btn" value="创建" /></td>	
							</tr>
						</table>
						
					</form>
				</div>


				<div class="span">
					<h3>进行中...</h3>
					<ul class="disc-list">
						<li><a href="/webchat">WebChat开发讨论</a></li>
						<li><a href="/test">web开发测试</a></li>
					</ul>
				</div>


				<div class="span">
					<%
						var keys = Object.keys( log );
						if( keys.length ){
					%>
					<h3>属于我</h3>
					<ul class="disc-list">
						<%for(var i=0; i<keys.length; i++){%>
							<li>
								<a href="/<%=log[ keys[i] ].name ? log[ keys[i] ].name : log[ keys[i] ].id%>"><%=log[ keys[i] ].topic%></a>
							</li>
						<%}%>
					</ul>
					<%}%>
				</div>

			</div>
			<div class="footer">

				<a href="/about">about</a>

			</div>
		</div>
	</div>
</body>
</html>