<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>vchat.co</title>

	<link rel="stylesheet" type="text/css" href="/public/css/common.css">
	<style type="text/css">

		html,body{padding:0px;margin:0px;}

		body{font-family: "Ebrima",tahoma,arial,\5b8b\4f53;}
		header{background:#545652;width:100%;color:#e9e6e6;box-shadow:none;border:0;position:relative;height:100%;text-align:center;padding: 6% 0px;position:absolute;height:100%;width:100%;top:0px;
			box-sizing: border-box;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			-o-box-sizing:border-box;
			-ms-box-sizing:border-box;
			overflow:hidden;min-height:550px;}
		header h1{font-weight:normal;font-size:24px;max-width:300px;text-align:center;}
		header h1 strong{color:#fff;font-weight:bold;}

		header .login-btn,header .user-box{position:absolute;right:25px;top:25px;}
		header .user-box{background: #808080;padding: 5px 8px;border-radius: 4px}
		header p{text-align:center;}
		.menu{width:100%;position:absolute;bottom:0px;left:0px;}
		header .logo{margin-bottom:10px;}

		.create-box{margin-top:100px;} .create-box p{margin-bottom:20px;}
		.create-input{position:relative;width:30%;height: 40px;min-width:300px;}
		.create-input input{font-size: 15px;padding:8px;border:0;color: #666;width: 100%;
			box-sizing: border-box;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			-o-box-sizing:border-box;
			-ms-box-sizing:border-box;}
		.create-btn{width: 18px;height: 18px;display: inline-block;position: absolute;right: 10px;top: 12px}

		.menu{background:#737577}
			.menu ul li{float:left;}
			.menu ul li a{padding:10px 15px;line-height:30px;display:inline-block;color:#FFFFFF;width: 118px;text-align: center}
			.menu ul li a:hover{background:#999;}

		.social-follow{position: absolute;right: 25px;bottom:12px;z-index: 30}
		.social-follow a{color:#fff;text-decoration:underline;}

		.main{position:absolute;top:100%;width:100%;height:500px;}
			.main .article{width:450px;margin:0px auto;margin-bottom: 60px;font-size: 15px}
			.main .article:first-child{margin-top:60px;}
				.article h2{font-weight:bold;margin-bottom: 20px}
		.create-part{padding-top: 20px;display: inline-block}
		.top-link{display:block;text-align:center;color:#333;text-decoration:underline;font-weight: bold;color:#267CD8;padding-bottom:20px;}

		header .user-box img{width:25px;height:25px;border-radius:5px;vertical-align: middle;margin-right:5px}
		header .user-box a{color:#fff;font-size:13px;margin-left:5px;}
	</style>
</head>
<body>


	<header class="clearfix">
		<img class="logo" src="/public/images/logo-white.png">
		<h1 class="set-middle">
			<strong>vchat.co,</strong>timely discussion on the topic
		</h1>

		<% if( user != null ){ %>
		<div class="user-box">
			<a href="/user/home">
				<img src="<%=user.avatar %>">
				<%=user.name %>
			</a>
		</div>
		<% }else{ %>
		<a class="btn btn-white login-btn" href="/sys/login">Sign In</a>
		<% } %>

		<div class="create-box">
			<a name="create-part" class="create-part" id="create-part"></a>
			<p>Quickly create topic</p>
			<div>
				<div class="create-input set-middle" id="create">
					
					<input class="topic-input" name="topic" autofocus placeholder="Topic name">
					<a href="javascript:;" class="create-btn">
						<i class="icon-go"></i>
						<i class="icon-loading hidden"></i>
					</a>
					
				</div>
			</div>
		</div>
		<div class="social-follow">
			<span>Follow weibo@</span><a target="_blank" href="http://weibo.com/u/3798418447">vchat.co</a>
		</div>


		<div class="menu clearfix">

			
			<ul>
				<li>
					<a href="/recommend">Recommend</a>
				</li>
				<li>
					<a href="/recently">Recently</a>
				</li>
			</ul>
		</div>

	</header>


	<div class="main set-m">
		

		<article class="article">
			<h2>Feel to register to do tedious experience for dialogue ?</h2>
			<p>vchat.co do not you register you can quickly create a topic. By quickly create topics channel, if you do not have account, vchat.co will help you create a temporary account for dialogue. (After use, if you like vchat.co, you can choose to bind your email)</p>
		</article>

		<article class="article">
			<h2>After that Buddy trouble you can create topics ?</h2>
			<p>vchat.co does not require you to add each other as friends will be able to invite him (her) to engage in dialogue. Just copy the url of the topic of the room to the other, the other party will be able to quickly enter topics. Vchat.co will help you turn your back on the topic over the user to save up to facilitate your next.</p>
		</article>

		<article class="article">
			<h2>Others would like to see what topics recently discussed what ?</h2>
			<p>You can enter through vchat.co Home Recommended topics or recent topics involved it, you can find that you are interested in, they might become your friends, teachers or co-workers.</p>
		</article>

		<article class="article">
			<h2>Worry about their information being leaked private conversation ?</h2>
			<p>Do not worry, vchat.co SSL + HTTP protocol used by the HTTPS protocol built encrypted transmission to protect the security of information transmission.</p>
		</article>

		<a class="top-link" href="#create-part">I can't wait to experience</a>
	</div>




	<script type="text/javascript" src="/public/js/lib/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/we.min.js"></script>
	<script type="text/javascript">

	WE.pageIndex = {
		init: function(){

			var form = $('#create');

			this.ui = {
				form:form,
				submit:form.find('.create-btn'),
				topic:form.find('.topic-input')
			};

			this.regEvent();
			
		},

		regEvent: function(){

			var _this = this;

			this.ui.topic.keyup(function(e){

				if( e.keyCode == 13 && $.trim( _this.ui.topic.val() ) != "" ){
					_this.createTopic();
				}

				return false;
			});

			this.ui.submit.click(function(){

				if( $.trim( _this.ui.topic.val() ) != "" ){
					_this.createTopic();
				}

				return false;
			});
		},

		createTopic: function(){

			var self = this;

			this.ui.submit.find('.icon-go').addClass('hidden');
			this.ui.submit.find('.icon-loading').removeClass('hidden');

			var topic = $.trim( this.ui.topic.val() );
			var model = new WE.api.RoomModel();
			var ctrl = new WE.Controller();
			ctrl.update = function(e){
				var data = e.data;

				if(data.code == 0){
					location.href = '/'+data.result.id;
				}else{
					this.error();
				}
			};
			ctrl.error = function(){
				self.ui.submit.find('.icon-go').removeClass('hidden');
				self.ui.submit.find('.icon-loading').addClass('hidden');
			}
			model.addObserver( ctrl );
			model.create(topic);	

		}
	}

	WE.pageIndex.init();
	</script>

	



	
</body>
</html>