<!DOCTYPE HTML>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<title>vchat.co</title>

	<link rel="stylesheet" type="text/css" href="/public/css/common.css">
	<style type="text/css">

		html,body{padding:0px;margin:0px;}

		body{font-family: "Ebrima",tahoma,arial,\5b8b\4f53;}
		header{background:#868c91;width:100%;color:#e9e6e6;box-shadow:none;border:0;position:relative;height:100%;text-align:center;padding: 6% 0px;position:absolute;height:100%;width:100%;top:0px;
			box-sizing: border-box;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			-o-box-sizing:border-box;
			-ms-box-sizing:border-box;
			overflow:hidden;min-height:550px;}
		header h1{font-weight:normal;font-size:24px;max-width:300px;text-align:center;}
		header h1 strong{color:#fff;font-weight:bold;}

		header .login-btn{position:absolute;right:25px;top:25px;}
		header p{text-align:center;}
		.menu{width:100%;position:absolute;bottom:0px;left:0px;}
		header .logo{margin-bottom:10px;}

		.create-box{margin-top:100px;} .create-box p{margin-bottom:20px;}
		.create-input{position:relative;width: 300px;height: 40px}
		.create-input input{font-size: 15px;padding:8px;border:0;color: #666;width: 100%;
			box-sizing: border-box;
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			-o-box-sizing:border-box;
			-ms-box-sizing:border-box;}
		.create-btn{width: 18px;height: 18px;display: inline-block;position: absolute;right: 10px;top: 12px}

		.menu{background:#d5d8dd}
			.menu ul li{float:left;}
			.menu ul li a{padding:10px 15px;line-height:30px;display:inline-block;color:#686b6d;width: 118px;text-align: center}
			.menu ul li a:hover{background:#eee;}

		.social-follow{text-align:right;padding-right:25px;margin-top:20px;}
		.social-follow a{color:#fff;text-decoration:underline;}

		.main{position:absolute;top:100%;width:100%;height:500px;}
	</style>
</head>
<body>


	<header class="clearfix">
		<img class="logo" src="/public/images/logo-white.png">
		<h1 class="set-middle">
			<strong>vchat.co,</strong>timely discussion on the topic
		</h1>
		
		<a class="btn btn-white login-btn" href="/sys/login">Sign In</a>

		<div class="create-box">
			<p>Quickly create topic</p>
			<div>
				<div class="create-input set-middle">
					<input placeholder="Topic name">
					<a href="javascript:;" class="create-btn">
						<i class="icon-go"></i>
						<i class="icon-loading hidden"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="social-follow">
			<span>Follow weibo@</span><a target="_blank" href="http://weibo.com/u/3798418447">vchat.co</a>
		</div>


		<div class="menu clearfix">

			
			<ul>
				<li>
					<a href="#">Recommend</a>
				</li>
				<li>
					<a href="#">Recently</a>
				</li>
			</ul>
		</div>

	</header>


	<div class="main">
		312321321312
	</div>


	



	
</body>
</html>