<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title>设置昵称 - Vchat</title>
	<link rel="stylesheet" type="text/css" href="/public/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/chat_new.css"/>
</head>
<body>

	<div class="wall-room wall-setname">

		<div class="main ">

			<a title="返回主页" href="https://www.vchat.co/" class="main-out">
				<i class="icon-poweroff"></i>
			</a>
			<div class="line">
				<div class="topic-title">TOPIC :</div>
				<div class="topic-content"><%=room.topic%></div>
				<div class="login-input">
					<div class="nickname-input" id="login-nickname-wall">
						<img class="loading" src="/public/images/loadinfo.net.gif">
						<img src="<%=user.avatar %>">
						<input type="text" autofocus placeholder="Your Nickname"  maxlength="50" id="login-nickname-input" value="<%=user.name %>">

						<a class="login-btn" id="login-nickname-btn" href="javascript:;">
							<i class="icon-go"></i>
							<i class="icon-loading hidden"></i>
						</a>
					</div>

					<div class="account-input" id="login-account-wall" id="login">
					<form action="/sys/login" method="post">
						<input type="hidden" name="referer" value="/<%=room.name || room.id%>">
							<div class="input-box">
								<i class="icon-email"></i>
								<input type="email" placeholder="Email" required maxlength="100" name="email">
							</div>
							
							<div class="input-box">
								<i class="icon-lock"></i>
								<input type="password" placeholder="Password" required maxlength="50"  name="pwd">
							</div>
							<button type="submit" class="login-btn">Login</button>
						</form>
					</div>
				</div>
				<div class="account-btn">
					<a class="btn" href="#login-account-wall" id="account-login-btn">
						<i class="icon-user"></i>
						Login use my account
					</a>

					<a class="btn hidden" href="#login-nickname-wall" id="nickname-login-btn">
						Login without my account
					</a>
				</div>
			</div>

		</div>

	</div>

	<script type="text/javascript" src="/public/js/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/public/js/we.min.js"></script>
	<script type="text/javascript" src="/public/js/src/we.chat/we.page.chat.js"></script>

	<script type="text/javascript">

		WE.pageChat.login.init();

	</script>

</body>
</html>