<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
<<<<<<< HEAD
	<title>设置昵称 - Vchat</title>
	<link rel="stylesheet" type="text/css" href="/public/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/chat_new.css"/>
=======
	<title><%=room.topic%> - Vchat</title>
	<link rel="stylesheet" type="text/css" href="css/common.css"/>
	<link rel="stylesheet" type="text/css" href="css/chat_new.css"/>
>>>>>>> 88b812d690ce9e06e66c8f9994611db30ba2c47d
</head>
<body>

	<div class="wall-room wall-setname">

		<div class="main ">

			<a title="返回主页" href="https://www.vchat.co/" class="main-out">
				<i class="icon-poweroff"></i>
			</a>
			<div class="line">
				<div class="topic-title">TOPIC :</div>
				<div class="topic-content"><%=room.topic%></div>
				<div class="login-input">
					<div class="nickname-input" id="login-nickname-wall">
						<img class="loading" src="../images/loadinfo.net.gif">
						<img src="<%=user.avatar %>">
						<input type="text" autofocus placeholder="Your Nickname" id="login-nickname-input" value="<%=user.name %>">

						<a class="login-btn" id="login-nickname-btn" href="javascript:;">
							<i class="icon-go"></i>
							<i class="icon-loading hidden"></i>
						</a>
					</div>

					<div class="account-input" id="login-account-wall">
						<input type="text" placeholder="Email" name="email">
						<input type="password" placeholder="Password" name="pwd">

						<!-- <a class="login-btn" href="javascript:;">
							<i class="icon-go"></i>
							<i class="icon-loading hidden"></i>
						</a> -->

						<button type="submit" class="login-btn">Login</button>
						<!-- <a class="login-btn" href="javascript:;">Login</a> -->
					</div>
				</div>
				<div class="account-btn">
					<a class="btn" href="javascript:;" id="account-login-btn">
						<i class="icon-user"></i>
						Login use my account
					</a>

					<a class="btn hidden" href="javascript:;" id="nickname-login-btn">
						Login without my account
					</a>
				</div>
			</div>

		</div>

	</div>

	<script type="text/javascript" src="/public/js/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/public/js/we.min.js"></script>
	<script type="text/javascript" src="/public/js/src/we.chat/we.page.chat.js"></script>

	<script type="text/javascript">

		WE.pageChat.login.init();

		window.onbeforeunload = function(){

			if (changes == "true" || files == "true")
			  {
			      return "Here you can append a custom message to the default dialog.";
			  }
		}

	</script>

</body>
</html>