<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>vchat.co</title>
	<script type="text/javascript" src="/js/jquery-1.6.3.min.js"></script> 	
	<script type="text/javascript" src="/js/we.min.js"></script>
	<style type="text/css">
		h1{margin:50px 0;}
		ul{list-style: none;margin:20px 0;}
		ul li{float:left;margin-right: 70px;text-align: center;}
		strong{display: block;}
	</style>


	<style>
	
		.vchat-wrapper,.vchat-chats-wrapper{position:fixed;bottom:20px;right:0;font-size:14px;}
		.vchat-chats-wrapper{right:265px;height: 0;text-align:right;}
		.vchat-wrapper img{display:block;}
		
		.vchat-main{width:260px;display:inline-block;text-align:left;color:#6e6e6e;background:#fff;box-shadow:#000 0px 0px 5px -1px;border-radius:2px 0 0 0;}
		.vchat-main-mini{width:80px;}
		.vchat-main-mini .vchat-user-list,.vchat-main-mini .vchat-user-title{display: none;}

		.vchat-user-title{padding:10px;border:1px solid #dfdfdf;border-width:1px 0;}
		.vchat-user-list{border-bottom:1px solid #dfdfdf;height:500px;}
		.vchat-user-init{border:1px solid #dfdfdf;border-width:1px 0;padding:10px;cursor:pointer;}
		
		/*user-card*/
		.vchat-user-card{padding:10px;min-height:48px;border-bottom:1px solid #dfdfdf;cursor:pointer;}
		.vchat-user-card:hover{background:#f5f5f5;}
		.vchat-user-avatar{float:left;}
		.vchat-user-name{color:#727272;}
		.vchat-user-talk{margin-top:10px;}
		.vchat-user-info{float:left;margin-left:10px;}
		
		
		/* chat item */
		.vchat-chats-item{width:260px;position:relative;display:inline-block;vertical-align:top;margin-left:10px;text-align: left;}

		.vchat-chats-item-in{width:260px;position: absolute;bottom:0;	}
		.vchat-chats-item-mini .vchat-chat-context,.vchat-chats-item-mini .vchat-chat-enter{display: none;}
		
		.vchat-chat-title{background:#404040;border-radius:3px 3px 0 0;padding:10px;color:#fff;font-weight:700;}
		.vchat-connection-tip{border-bottom:1px solid #c3c3c3;padding:10px;}
		.vchat-connection-tip-error{background:#db4439;}
		.vchat-chat-item-setting{float:right;}
			.vchat-chat-item-set{width:24px;height: 24px;text-align:center;opacity:.5;padding:.3em;cursor:pointer;}
			.vchat-chat-item-set:hover{opacity:1;background:#737373;}
			.vchat-chat-item-set-noraml{display:none;}
			.vchat-chats-item-mini .vchat-chat-item-set-noraml{display:initial;}
			.vchat-chats-item-mini .vchat-chat-item-set-mini{display: none;}
		.vchat-chat-context{background:#e5e5e5;border:1px solid #c3c3c3;border-width:0 1px;padding:10px;height:300px;overflow:auto;}
		.vchat-chat-enter{background:#fff;}
		
			.vchat-chat-enter-in{margin:0 5px;}
		.vchat-chat-enter .vchat-chat-input{border:1px solid #c3c3c3;outline:none;padding:.6em 5px;margin:0px;outline:none;width:248px;}
		.vchat-chat-enter .vchat-chat-input:focus{border-color:#3399cc;}
		
		
		.vchat-chat,.vchat-chat-left,.vchat-chat-right{position:relative;min-height:24px;padding-bottom:10px;}
		.vchat-chat-avatar{position:absolute;}
		.vchat-chat-info{padding:5px;background:#fff;border-radius:0 2px 2px 0;margin-left:24px;display:inline-block;word-break: break-word;}
		
		.vchat-chat-right{text-align:right;}
		.vchat-chat-right .vchat-chat-avatar{right:0;bottom:10px;}
		.vchat-chat-right .vchat-chat-info{margin-right:24px;border-radius:2px 0 0 2px;margin-left:0;}

	</style>
</head>
<body>
	<h1>Socket Test Page</h1>
	<div>
		
		<input type="text" value="f6aec25d971e1a2961e161bf52d39f05" id="roomid"> <input type="button" value="登录到" onclick="loginVchat()" >
		<div>
		<input type="text" value="f6aec25d971e1a2961e161bf52d39f05" id="testmsg">	
		<input type="button" value="testmessage" onclick="testMessage()" >	
	
		</div>	
		
	</div>
	<div>
		<h2>创建用户</h2>
			<form action="/sys/vchat-create" method="post" >
			<input type="text" value="vchat.co" name="domain" >
			<input type="text" name="uid" value="xxoox">
			
			<input type="submit" value="创建vchat.js账户" onclick="createVchatUser()">
		</form>
	</div>
	

	<div>
		<h2>获取 chat server</h2>
			<form action="/sys/vchat-login" method="post" >
			<input type="text" value="vchat.co" name="domain" >
			
			<input type="submit" value="获取 chat server" onclick="createVchatUser()">
		</form>
	</div>





	<div class="vchat-wrapper" style="display:none;" >
			<div class="vchat-chats-wrapper">
			
				<div class="vchat-chats-item" >
					<div class="vchat-chats-item-in">
						<div class="vchat-chat-title">
							<span class="#">李佳怡</span>
							<div class="vchat-chat-item-setting">
								<span class="vchat-chat-item-set vchat-chat-item-set-mini" title="最小化" >＿</span>
								<span class="vchat-chat-item-set vchat-chat-item-set-close" title="关闭" >ㄨ</span>
							</div>
						</div>
						<div class="vchat-chat-context">
							<div class="vchat-chat-left">
								<div class="vchat-chat-avatar"><img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=24&d=mm&r=g" alt="" /></div>
								<div class="vchat-chat-info">hello<br/>
								asdlkfjdaslkfja<br/>
								654465645645654465645
								</div>
							</div>
							
							<div class="vchat-chat-left">
								<div class="vchat-chat-avatar"><img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=24&d=mm&r=g" alt="" /></div>
								<div class="vchat-chat-info">hello</div>
							</div>
							
							<div class="vchat-chat-left">
								<div class="vchat-chat-avatar"><img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=24&d=mm&r=g" alt="" /></div>
								<div class="vchat-chat-info">hello</div>
							</div>
							
							<div class="vchat-chat-right">
								<div class="vchat-chat-avatar"><img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=24&d=mm&r=g" alt="" /></div>
								<div class="vchat-chat-info">hello</div>
							</div>
							
							<div class="vchat-chat-right">
								<div class="vchat-chat-avatar"><img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=24&d=mm&r=g" alt="" /></div>
								<div class="vchat-chat-info">hello</div>
							</div>
							
							<div class="vchat-chat-right">
								<div class="vchat-chat-avatar"><img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=24&d=mm&r=g" alt="" /></div>
								<div class="vchat-chat-info">hello<br/>
								asdlkfjdaslkfja<br/>
								654465645645654465645
								</div>
							</div>
							
							
							<div class="vchat-chat-right">
								<div class="vchat-chat-avatar"><img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=24&d=mm&r=g" alt="" /></div>
								<div class="vchat-chat-info">hello<br/>
								asdlkfjdaslkfja<br/>
								
								</div>
							</div>
							
						</div>
						<div class="vchat-chat-enter" z-index="0">
								<input type="text" class="vchat-chat-input" placeholder="发消息" />
						</div>
					</div>
				</div>

			</div>


			<div class="vchat-main ">
				<div class="vchat-user-title" >Vchat</div>
				<div>
				<div class="vchat-connection-tip">正在登录服务器...</div>
				</div>
				<div class="vchat-user-list" >
				
					<div class="vchat-user-card">
						<div class="vchat-user-avatar">
							<img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=48&d=mm&r=g" alt="" />
						</div>
						<div class="vchat-user-info">
							<span class="vchat-user-name">Jun.lu</span>
							<div class="vchat-user-talk">信仰内心最真实的感受</div>
						</div>
					</div>
					
					<div class="vchat-user-card">
						<div class="vchat-user-avatar">
							<img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=48&d=mm&r=g" alt="" />
						</div>
						<div class="vchat-user-info">
							<span class="vchat-user-name">Jun.lu</span>
							<div class="vchat-user-talk">信仰内心最真实的感受</div>
						</div>
					</div>
					
					<div class="vchat-user-card">
						<div class="vchat-user-avatar">
							<img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=48&d=mm&r=g" alt="" />
						</div>
						<div class="vchat-user-info">
							<span class="vchat-user-name">Jun.lu</span>
							<div class="vchat-user-talk">信仰内心最真实的感受</div>
						</div>
					</div>
					

					<div class="vchat-user-card">
						<div class="vchat-user-avatar">
							<img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=48&d=mm&r=g" alt="" />
						</div>
						<div class="vchat-user-info">
							<span class="vchat-user-name">Jun.lu</span>
							<div class="vchat-user-talk">信仰内心最真实的感受</div>
						</div>
					</div>
					

					<div class="vchat-user-card">
						<div class="vchat-user-avatar">
							<img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=48&d=mm&r=g" alt="" />
						</div>
						<div class="vchat-user-info">
							<span class="vchat-user-name">Jun.lu</span>
							<div class="vchat-user-talk">信仰内心最真实的感受</div>
						</div>
					</div>
					

					<div class="vchat-user-card">
						<div class="vchat-user-avatar">
							<img src="http://www.gravatar.com/avatar/e3238e39e72fdb588d6e5bb360fa90b0.jpg?s=48&d=mm&r=g" alt="" />
						</div>
						<div class="vchat-user-info">
							<span class="vchat-user-name">Jun.lu</span>
							<div class="vchat-user-talk">信仰内心最真实的感受</div>
						</div>
					</div>
					
				</div>
				<div class="vchat-user-init" >V - Chat</div>
			</div>
		
	</div>
		
	<div>
		<h2>配置</h2>
		<ul>
			<li><input type="text" name="" id="configdomain" value="xxxxxx.com"></li>
			<li><input type="text" name="" id="configuid" value="lujun"></li>
			<li><input type="text" name="" id="configuname" value="lujun"></li>
			<input type="button" value="切换" onclick="changeConfig()">
		</ul>
	</div>
	<script>

		
		var socket = null;

		function loginVchat(){

			var roomid = document.getElementById('roomid').value;
			socket = new WebSocket("ws://"+window.location.host);
			var socketMessage = {
				"connection":function( data ){
					//登录到房间
					if( data.code == "0" ){
						socket.send( JSON.stringify({ type:"login", data:{roomid:roomid} }) );
					}else{

						console.log("connection", data);
					}

				},
				"on-line":function( data ){
					console.log("on-line", data);
				},
				"off-line":function( data ){
					console.log("off-line", data);
				},
				"user-list":function( data ){
					console.log("user-list", data);
					//WE.pageChat.userlist.init( data );
				},
				"new-chat":function( data ){
					console.log("new-chat", data);
				}
			};

			socket.onopen = function( e ){};
			
			socket.onmessage = function( e ){
				var data = JSON.parse(e.data);
				//console.log("onmessage", data);
				if( socketMessage[data.type] ){
					socketMessage[data.type]( data.data );
				}else{
					console.log("onmessage miss", data);
				}
			}

			socket.onclose = function(){}

		}

		function testMessage(){
			var msg = document.getElementById('testmsg').value;
			var roomid = document.getElementById('roomid').value;
			new WE.BaseModel().post("/post",{roomid:roomid, text:msg});
		}

	</script>

	<script>


		var __vchat_config = {

			domain:"xxxxxx.com",
			uid:"lujunxxx1",
			uname:"lujun2"

		};

		function changeConfig(){
			__vchat_config.domain = document.getElementById("configdomain").value;
			__vchat_config.uid = document.getElementById("configuid").value;
			__vchat_config.uname = document.getElementById("configuname").value;

			__vchat.setConfig();
		}
		window.onload = changeConfig;
	</script>

	<script src="/js/chat.js"></script>
	<script >
		__vchat.init();
	</script>
</body>
</html>