/** group  */
.container{width:960px;}
.bd{width:960px;margin:20px auto;position:relative;min-height:500px;}

a{cursor: pointer;}
a:link{color: #37a;text-decoration: none;}
a:visited{color:#669;text-decoration: none;}
a:hover{color: #fff;text-decoration: none;background-color: #37a;}
a:active{color: #fff;text-decoration: none;background-color: #f93;}
.icon{display: inline-block;width: 14px;height: 14px;margin-top: 1px;line-height: 14px;vertical-align: text-top;
background-image: url("../images/glyphicons-halflings.png");background-position: 14px 14px;background-repeat: no-repeat;}
.icon-edit{background-position: -96px -72px;}
.f-r{float:right}
.f-l{float:left}
.clear-fix{zoom:1;clear: both;}
.clear-fix:after{content:"\20";display:block;clear:both;}
input[type="text"],textarea{border:1px solid #ccc;padding:.3em;}
.reset{list-style:none;margin:0;padding:0;}
.t-r{text-align: right;}
.btn-loading{background: :url("../images/loading_m.gif") no-repeat center right;}
.we-loading{background:url('../images/loading_m.gif') no-repeat center center;}
input.error{border-color:#B94A48;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
input.error:focus{border-color:#B94A48;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
span.error{color:#B94A48; }

/*预设*/
.fc_bb{color: #bbb;}
.fc_88{color: #888;}
.fs_12{font-size: 12px;}
.pad_a5{padding: 5px;}
.hidden{display: none;}

/* dialog */
.we-mask{background:rgba(0,0,0, .5);position: fixed;height:100%;width:100%;z-index:99;
top:0;left:0;}
.we-dialog{border-radius: 3px;background: white;
		box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
		color: #333;position: absolute;
		z-index: 100;min-width:200px;min-height:60px;
}

.we-dialog-title{padding:14px 14px;}
.we-dialog-title h1{font-size:14px;margin: 0;line-height: 1em;}
.we-dialog-close{
background:url(../images/IDR_WEB_UI_CLOSE.png) no-repeat center center;
height: 14px;
position: absolute;right: 7px;top: 7px;width: 14px;z-index: 1;}
.we-dialog-close:hover{
	background:url(../images/IDR_WEB_UI_CLOSE_HOVER.png) no-repeat center center;
 }
.we-dialog-context{padding:0 14px;padding-bottom:17px;}



/*
	选择头像 
*/

.select-avatar{margin:30px 0;min-height: 100px;}
.select-avatar li{ float:left;text-align: center;margin:0 10px;}
.select-avatar li strong{display: block;}

/*
    参与的历史话题
 */
.history{width:500px;overflow: hidden;zoom:1;max-height: 600px; }
	.history h6{border-bottom: 1px #eee solid;padding-bottom: 5px;margin-bottom:5px;}
	.history ul{overflow: hidden;zoom:1;}
		.history ul li{margin-top:10px;width: 220px;float: left;margin-left: 15px;}
			.history ul li a{font-size: 13px;}
	.history .history-des{font-size: 12px;color: #888;display:block;}
	.history .history-more{font-size: 12px;color: #555;float: right;}
	.history .history-more:hover{color: #333;background: none;text-decoration: underline;}



/** top page */

.top{padding:0 20px;background:#545652;height:28px;min-width:960px;font-size:12px;}
		.top-nav{margin:0;padding:0;}
		.top-nav li{float:left;list-style: none}
		.top-nav a{line-height:28px;color:#d5d5d5;height:28px;display:inline-block;padding:0 10px;}
		.top-nav a:visited{background:none;}
		.top-nav a:hover{line-height:28px;color:#fff;background:none;}
		.top-nav a:active{background:none;}
		.account{position:relative;}
		.account:hover .arrow{border-top-color:#fff;}
		.account .arrow{position:absolute;top:13px;right:2px;border-width: 3px 3px 0;border-color: #d5d5d5 transparent transparent transparent;border-style: solid dashed dashed dashed;
width: 0;height: 0;font-size: 0;line-height: 0;}
			.drop-down{position:relative;display:inline-block;}
			.drop-down:hover .drop-down-items{display:block;}
			.drop-down-items{border:1px solid #e6e6e6;background:#fff;padding:10px 0;position:absolute;top:28px;right:0;z-index:10;display:none;}
			.drop-down-items ul{margin:0;}
			.drop-down-items li{float:none;}
			.drop-down-items li a{display:block;color:#3d3d3d;white-space:nowrap;}
			.drop-down-items li a:hover{display:block;color:#3d3d3d;background:#f6f6f6;}
		/* notice */
		.notice-title{position:relative;}
		.circle{width:7px;height:7px;border-radius:4px;background-color:red;position: absolute;top: 12px;right: -1px;}
		.notice-box,.notice-title{position:relative;}
		.notice-box{display:inline-block;white-space: normal;word-wrap: break-word;margin-right:8px;}
		.notice-content{width:320px;position:absolute;right:-110px;background:#fff;border:1px solid #e6e6e6;z-index:10;top:28px;}
		.notice-content li{padding:8px 20px;border-bottom:1px solid #e6e6e6;}
		.notice-content a:hover{text-decoration:underline;}
		.notice-content p{padding:12px 0px 2px 18px}
		.notice-list a{height: auto;}
		.notice-content .notice-news{display:inline-block;width:223px;}
		.notice-content .notice-list{padding-top:15px;}
		.notic-all:visited{background-color:#fafafa;}
		.notic-all:hover{background-color:#f5f5f5;color:#37a;}
		.notic-all{padding:10px 0px;display:block;text-align:center;background-color:#fafafa;}
		.account-box{display:inline-block;}


/* albums , photo 相册,图片 */
.albums-cover{text-align:center;vertical-align:middle;}
.albums-list,.photo-list{margin:0px;padding:0px;zoom:1;overflow:hidden;}
	.albums-list li,.photo-list li{list-style:none;float:left;width:170px;height:206px;font-size:13px;margin:0px 22px 10px 0px;}
	.albums-info,.photo-info{margin-top:5px;}
	.albums-info .icon-edit,.photo-info .icon-edit{cursor:pointer;}
	.pagination{text-align:center;}
		.photo-cover{position:relative;display:table-cell;overflow:hidden;width:170px;height:170px;text-align:center;vertical-align: middle;}
	

/* photo-view */
.photo-wall{position:relative;text-align:center;width:100%;height:auto;background:#fdfdfd;}
		.btn-page{margin-left:15px;font-size:13px;color:#ccc}
		.photo-page{position:absolute;overflow:hidden;zoom:1;z-index:10;right:13px;top:8px}
		.btn-page .disabled{color:#999;cursor:default;}
		.btn-page .disabled:hover{color:#999;background:none;}





/* footer */
.footer{margin-top:50px;padding-bottom: 30px;}
