

/** group  */
.container{width:960px;}
a{cursor: pointer;}
a:link{color: #37a;text-decoration: none;}
a:visited{color:#669;text-decoration: none;}
a:hover{color: #fff;text-decoration: none;background: #37a;}
a:active{color: #fff;text-decoration: none;background: #f93;}
.icon{display: inline-block;width: 14px;height: 14px;margin-top: 1px;line-height: 14px;vertical-align: text-top;
background-image: url("../images/glyphicons-halflings.png");background-position: 14px 14px;background-repeat: no-repeat;}
.icon-edit{background-position: -96px -72px;}
.f-r{float:right}
.f-l{float:left}
.clear-fix{zoom:1;clear: both;}
.clear-fix:after{content:"\20";display:block;clear:both;}
input[type="text"],textarea{border:1px solid #ccc;padding:.3em;}
.reset{list-style:none;margin:0;padding:0;}
.t-r{text-align: right;}
.btn-loading{background: :url("../images/loading_m.gif") no-repeat center right;}
.we-loading{background:url('../images/loading_m.gif') no-repeat center center;}
input.error{border-color:#B94A48;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
input.error:focus{border-color:#B94A48;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
span.error{color:#B94A48; }

/*预设*/
.fc_bb{color: #bbb;}
.fc_88{color: #888;}
.fs_12{font-size: 12px;}
.pad_a5{padding: 5px;}
.hidden{display: none;}

/* dialog */
.we-mask{background:rgba(0,0,0, .5);position: fixed;height:100%;width:100%;z-index:99;
top:0;left:0;}
.we-dialog{border-radius: 3px;background: white;
		box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
		color: #333;position: absolute;
		z-index: 100;min-width:200px;min-height:60px;
}

.we-dialog-title{padding:14px 14px;}
.we-dialog-title h1{font-size:14px;margin: 0;line-height: 1em;}
.we-dialog-close{
background:url(../images/IDR_WEB_UI_CLOSE.png) no-repeat center center;
height: 14px;
position: absolute;right: 7px;top: 7px;width: 14px;z-index: 1;}
.we-dialog-close:hover{
	background:url(../images/IDR_WEB_UI_CLOSE_HOVER.png) no-repeat center center;
 }
.we-dialog-context{padding:0 14px;padding-bottom:17px;}



/*
	选择头像 
*/

.select-avatar{margin:30px 0;min-height: 100px;}
.select-avatar li{ float:left;text-align: center;margin:0 10px;}
.select-avatar li strong{display: block;}

/*
    参与的历史话题
 */
.history{width:500px;overflow: hidden;zoom:1;max-height: 600px; }
	.history h6{border-bottom: 1px #eee solid;padding-bottom: 5px;margin-bottom:5px;}
	.history ul{overflow: hidden;zoom:1;}
		.history ul li{margin-top:10px;width: 220px;float: left;margin-left: 15px;}
			.history ul li a{font-size: 13px;}
	.history .history-des{font-size: 12px;color: #888;display:block;}
	.history .history-more{font-size: 12px;color: #555;float: right;}
	.history .history-more:hover{color: #333;background: none;text-decoration: underline;}



/** top page */

.top{padding:0 20px;background:#545652;height:28px;min-width:960px;font-size:12px;}
		.top-nav{margin:0;padding:0;}
		.top-nav li{float:left;list-style: none}
		.top-nav a{line-height:28px;color:#d5d5d5;height:28px;display:inline-block;padding:0 10px;}
		.top-nav a:visited{background:none;}
		.top-nav a:hover{line-height:28px;color:#fff;background:none;}
		.top-nav a:active{background:none;}
		.account{position:relative;}
		.account:hover .arrow{border-top-color:#fff;}
		.account .arrow{position:absolute;top:13px;right:2px;border-width: 3px 3px 0;border-color: #d5d5d5 transparent transparent transparent;border-style: solid dashed dashed dashed;
width: 0;height: 0;font-size: 0;line-height: 0;}
			.drop-down{position:relative;}
			.drop-down:hover .drop-down-items{display:block;}
			.drop-down-items{border:1px solid #e6e6e6;background:#fff;padding:10px 0;position:absolute;top:28px;right:0;z-index:10;display:none;}
			.drop-down-items ul{margin:0;}
			.drop-down-items li{float:none;}
			.drop-down-items li a{display:block;color:#3d3d3d;white-space:nowrap;}
			.drop-down-items li a:hover{display:block;color:#3d3d3d;background:#f6f6f6;}
/** head */
.head{margin:30px 0;}
.subtitle{text-indent:2em;}

/** chat page */

.container{}
.bd{width:960px;margin:20px auto;position:relative;}

.side{position:absolute;width:300px;left:0;}
	.room{margin-bottom:20px;}
	.room .topic{font-size:25px;font-weight:700;margin-bottom:10px;}
		  .topic .icon-edit{vertical-align: middle;cursor:pointer;display:none;}
		  .room:hover .icon-edit{display:inline-block;}
	.room .des{color:#666666;}
	
	.user-list{clear:both;padding-top:20px;}
	.user-list .title{font-size:14px;font-weight:700;}
	.user-list .list li{float:left;margin:1px;}
.main{margin-left:300px;position:relative;}
	.chat-list{}
	.chats{padding-left:30px;margin-left:30px;}
	.timeline{width:4px;height:100%;background:#9fc9ea;position:absolute;left:40px;}
	
	.post-box-in{border:1px solid #c6c6c6;position:relative;margin-bottom:10px;background:#fff;}
	.post-box{margin:5px 0 0 0;}
		.post-box .btns{text-align:right;background:#f7f7f7;}
			.btns .btn-group{text-align: right;}
			.dropdown-menu .icon-ok{display:none}
			.on .icon-ok{display:inline-block;}
		.post-box-in{margin:0;}
	.post-box .post-text-box{margin:3px 5px;}
	.post-box .post-text{border:none;width:100%;max-width:100%;min-height:50px;padding:0;margin:0;outline:none;border:none;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
	.post-box .post-text:focus{outline:none;border:none;box-shadow:none;}
	form.post-form{margin: 0px;}
		.quote{background: #e8eef2;}
	
	
	.avatar{background:#f2fbf2;}
	.chat{position:relative;}
	.chat .photo{position:absolute;width:48px;}
	.chat .photo img{width:48px;height:48px;}
	.chat .info{min-height:48px;margin-left:58px;margin-bottom:28px;}
	.chat .dot{background:#9fc9ea;width:8px;height:8px;border-radius:10px;border:5px solid #fff;left:-27px;top:8px;position:absolute;}
	.chat .chat-reply{font-size:12px;visibility: hidden;}
	.chat:hover .chat-reply{visibility: visible;}
	
	

			.info .my{}
			.info .head{background:#f2fbf2;padding:1px 5px;margin:0;height:20px;}
			.info .head a{font-size:12px;}
			.info .context{margin-top:10px;line-height:1.62em;word-break: break-word;}
			.info .reply-quote{border-left:1px solid #000;padding-left:10px;margin:1em 0;color:#a5a5a5;}
			.info .head .time{float: right;color: #999;font-size: 12px;}
		.my .head{background: #e6f8f8;}

	/*历史用户*/
	.history-list li{width:32px;height:32px;}
	.history-list li a{display: block;}
	.history-list li img{opacity: 0.4;moz-opacity:0.4;o-opacity:0.4;wekit-opacity:0.4;}

.timeline-loading{height:30px;background-color:#e7ebf2; }
.time-search-box{position:absolute;right:-20px;}
.time-search{position:fixed;}
.time-search ul{list-style:none;}
.time-search li{text-align:left;margin:1px 0;}
.time-name{display:inline-block;border-left:5px solid #c7c7c7;padding:2px 5px;color:#ccc;}
.time-name:hover,.time-name.on{border-color:#3988d0;color:#5ca8c8;}

