/* chat page */
	

	/* set scrollbar */
	.clear-overflow::-webkit-scrollbar {width: 8px;height: 8px;}
	.clear-overflow::-webkit-scrollbar-thumb {border-width: 1px;border-style: solid;border-color: #fff;border-radius: 6px;background: #d7d7d7;}
	.clear-overflow::-webkit-scrollbar-track-piece {width: 11px;height: 11px;}

	.invite-wall .users-list ul::-webkit-scrollbar {width: 8px;height: 8px;}
	.invite-wall .users-list ul::-webkit-scrollbar-thumb {border-width: 1px;border-style: solid;border-color: #fff;border-radius: 6px;background: #d7d7d7;}
	.invite-wall .users-list ul::-webkit-scrollbar-track-piece {width: 11px;height: 11px;}

	.l-aside-historyuser .users::-webkit-scrollbar {width: 8px;height: 8px;}
	.l-aside-historyuser .users::-webkit-scrollbar-thumb {border-width: 1px;border-style: solid;border-color: #fff;border-radius: 6px;background: #d7d7d7;}
	.l-aside-historyuser .users::-webkit-scrollbar-track-piece {width: 11px;height: 11px;}

	.l-aside-online .users::-webkit-scrollbar {width: 8px;height: 8px;}
	.l-aside-online .users::-webkit-scrollbar-thumb {border-width: 1px;border-style: solid;border-color: #fff;border-radius: 6px;background: #d7d7d7;}
	.l-aside-online .users::-webkit-scrollbar-track-piece {width: 11px;height: 11px;}

	/* layout */
	header{position:absolute;width:100%;}
	html,body{height:100%;width:100%;overflow:hidden;background:rgb(222,225,229);}
	.wall-room{width:100%;height:100%;box-sizing: border-box;-moz-box-sizing: border-box;padding-top: 34px}
	.main .main-content{height:100%;background: #fff}
		  .content-inner{padding:48px 0px 81px 0px;-moz-box-sizing: border-box;box-sizing: border-box;height:100%;}
		  		.content-inner .clear-overflow{overflow-y:auto;height:100%}
		.main-title,.main-input{position:absolute;width:100%;left:0px;}
		.main-title{top:0px;}
		.main-input{bottom:0px;}
	.main{margin-left:200px;height:100%;position: relative;
		/*-webkit-transition:margin-left .3s ease;
		-moz-transition:margin-left .3s ease;
		-o-transition:margin-left .3s ease;*/

		box-shadow: 1px 1px 5px #868CA8;z-index: 57;
	 }
	.l-aside{position: relative;height:100%;width:200px;top:-100%;left:0px;border-right:#e4e4e4 solid 1px;opacity:1.0;overflow: hidden;
			-webkit-transition:left .3s ease,width .3s ease;
			-moz-transition:left .3s ease,width .3s ease;
			-o-transition:left .3s ease,width .3s ease;
	  }
	.main-wall{height:100%;width:100%;overflow:hidden;zoom:1;position:absolute;
		-webkit-transition:width .3s ease;
		-moz-transition:width .3s ease;
		-o-transition:width .3s ease;
	}
	.l-aside-wall{height:100%;width:100%;overflow:hidden;zoom:1;position:absolute;background:rgb(222,225,229);
		-webkit-transition: top .4s ease-in-out,width .3s ease;
		-moz-transition:top .4s ease-in-out,width .3s ease;
		-o-transition:top .4s ease-in-out,width .3s ease;
	}


	 /* for js invite-style */
	.invite-style .main{margin-left:350px;}
	.invite-style .l-aside{width:350px;}
	.invite-style .invite-wall{visibility: visible;position:relative;}
		.invite-wall .close-btn{position:absolute;right:10px;top:10px;cursor:pointer;}
		.invite-wall .users-list{height:100%;padding:35px 0px;
			padding: 60px 0px 80px 0px;
			padding-top: 130px;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
		}
		.invite-wall .users-list ul{height:100%;overflow:auto;}
		.invite-wall .users-list li{margin-bottom:8px;padding-left: 25px}
		.invite-wall .users-list .cell{padding:5px; width:280px;background:#f9f9f9;
										font-size:13px;line-height: 30px;cursor:pointer;position:relative;
									}
		.invite-wall .users-list .cell:hover{background:#fff;}
		.invite-wall .users-list .select-cell{box-shadow: 1px 1px 0px #B9B8B8;background:#fff;}

			.invite-wall .users-list .cell .select{position:absolute;width: 10px;
						height: 10px;right: 13px;top: 13px;background: #737577;border: #737577 solid 3px;border-radius:4px;
						line-height: 13px;text-align: center;color: #FFFFFF;font-weight:bold;font-size:12px;}
			.invite-wall .users-list .cell .invite{padding: 0px 3px;font-size: 12px;right: 13px;top: 13px;position: absolute}
		.invite-wall .users-list img{float:left;width: 30px;height: 30px;margin-right:8px;}
		.invite-wall .title{position: absolute;top: 20px;left: 27px}
		.invite-wall .btns{position:absolute;left:24px;bottom:30px;width:291px;}
			.invite-wall .btns .btn{width:140px;padding:4px;}
			.invite-wall .btns .btn:first-child{background:#fff;}
			.invite-wall .btns .btn:nth-child(2){margin-left:5px;}
	/* invite wall */
	.invite-wall{
		visibility: hidden;
	}

	/* email invite styl */
	.invite-wall .email-input{position:absolute;left:26px;top: 64px;position: absolute;width:290px;}
		.invite-wall .email-input .invite-tips{width: 290px;height: 34px;background:#F5F57A;z-index: 90;
			position: absolute;text-align: center;color:#6F6F6F;line-height:34px;}
		.invite-wall .email-input input{width:100%;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-o-box-sizing: border-box;
		}

		.invite-wall .email-input .error-tips{float: left;text-align: center;font-size: 13px;
padding: 2px 0px;background: rgb(248, 226, 108);color: #BD0000;border-radius: 0px 0px 4px 4px;
			box-shadow: 0px 0px 2px #868686;width: 270px;margin-left: 10px}

	.r-aside{position:absolute;height:100%;width:300px;top:0;right:-300px;
		-webkit-transition:right .3s ease;
		-moz-transition:right .3s ease;
		-o-transition:right .3s ease;
	}
	.display-raside .r-aside{right:0px;}
	.display-raside .l-aside{left:-200px;}
	.display-raside .main{margin-left:0px;margin-right:300px;}

	 @media (max-width:800px){
		.wall-room .l-aside{left:-200px;opacity:0}
		.wall-room .main{margin-left:0px;}
		.main-content .talk .time{display:none;}
	}
	@media (max-width:259px){
		.content-inner{padding-top: 69px;}
	}

	/* style */

		/* content */

	.main-title{background: #f8f8f8;border-bottom: #e4e4e4 solid 1px;z-index:60;}
		.main-title h1{font-size: 18px;padding: 13px 0px 13px 20px;color: #484848;font-weight:bold;}
		.main-title .video-boot{position: absolute;right: 28px;top:13px;cursor:pointer;}
			.main-title .notice-sound{cursor:pointer;position:absolute;right: 80px;top: 14px;}
			.main-title .video-boot .video-active{background:url(../images/video.gif);}
			.main-title:hover .edit{display:inline-block;}
			.main-title .edit{font-size:14px;font-weight:normal;color:#66A3E6;cursor:pointer;}
				.main-title .edit:hover{text-decoration:underline;}
	.main-input{border-top: #ececec solid 1px;background:#fff;}
		.main-input .text-box{padding: 20px 10px;}
			.main-input .text-box input{height: 40px;float:none;box-shadow:none;color: #333;position:relative;font-size:13px;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;padding:5px;}
			.main-input .text-box .icon-screen{position: absolute;top: 19px;right: 19px;z-index:10}
		.main-input .replay-box{position: absolute;background: #edf1f6;z-index: 99;bottom: 70px;left:7px;font-size: 13px;padding: 5px 25px 5px 10px;margin-right: 10px;box-shadow: #DFDFDF 2px 2px 1px;border-radius: 4px;max-width: 84%;
									background:-webkit-gradient(linear, 0 0, 0 100%, from(rgb(255, 255, 190)), to(rgb(253, 250, 162)));

								}
			.main-input .replay-box:hover .close-btn{opacity:.6;}
			.main-input .replay-box .name{color:#4B4B4B;}
			.main-input .replay-box .context{color: #9C9C9C;word-wrap: break-word;}
			.main-input .replay-box .arrow{position: absolute;border-width: 7px 7px 0;bottom: -7px;border-color: rgb(250, 247, 160) transparent transparent transparent;border-style: solid dashed dashed dashed;width: 0;height: 0;font-size: 0;line-height: 0}
			.main-input .replay-box .icon-close{position: absolute;right: 5px;cursor: pointer;opacity:0;
				-webkit-transition:opacity .3s ease-in-out;
				-moz-transition:opacity .3s ease-in-out;
				-o-transition:opacity .3s ease-in-out;
			}
	.main-content .line{width: 1px;font-size: 0px;line-height: 0px;position: absolute;height: 100%;background: #F2F2FD;left: 39px;min-height: 400px}
	.main-message{background:rgb(255, 255, 190);border-radius:0px 0px 6px 6px;position:relative;z-index:30;font-size:13px;padding:5px 10px 5px 10px;box-shadow: 0px 1px 1px #d1d1d1;color: #666}

	.main-message{
		text-shadow:1px 1px #FFF;
		 background:-webkit-gradient(linear, 0 0, 0 100%, from(rgb(255, 255, 190)), to(rgb(253, 250, 162))); 
	}
	.main-message .user-name{margin-right:5px;}
	.main-message .user-photo{width:15px;height:15px;border-radius:4px;vertical-align: middle;margin-right:5px;}
	.main-content .talks{padding:0px 20px 0px 40px;}
	.main-content .talks .more-talks{width:100%;padding:3px 0px;text-align:center;position: absolute;
left: 0px}
	.main-content .talks .more-talks .tips{display:inline-block;padding:2px 10px;color:#AAA8A8;background:#F3F3F3;border-radius:4px;font-size:12px;}

	.main-content .talk{position: relative;border-bottom: #f6f6f6 solid 1px}
		.main-content .talk .photo{position: absolute;top: 18px;left: -13px}
		.main-content .talk img{border-radius: 4px;width: 29px;height: 29px}

		.main-content .talk .head{font-size:13px;margin-bottom:12px;}
		.main-content .talk .info{margin-left: 40px;padding: 10px 0px}
		.main-content .talk .name{color:#ADADAD;}
		.main-content .talk .no-name{color:#D3D3D3}
	.main-content .talks .me .name{color:#e75f5f}
	.main-content .talks .me .no-name{color:#F3A6A6}
		.main-content .talk .time{float:right;color: #bbb;vertical-align: top}
		.main-content .talk .time:hover{text-decoration:underline;}
		.main-content .talk .context{color:#555;font-size:14px;word-wrap: break-word;}
		.main-content .talk .reply{font-size: 13px;color: #C9C9C9;border-left: #C9C9C9 solid 1px;padding-left: 10px;line-height: 1.3;margin-bottom: 11px}

			.main-content .talk .context .icon-reply{visibility:hidden;margin-left:5px;}
			.main-content .talk:hover .context .icon-reply{visibility:visible;}
		.main-content .talk:last-child{border:0;}


	
	.l-aside-historyuser,.l-aside-online{position:relative;height:100%;}
	.l-aside-historyuser .title, .l-aside-online .title{font-size:12px;display: block;color: #afafaf;position:absolute;top:0px;color: #fff;background: #727272;border-bottom: #3D3D3D 1px solid;font-weight: bold;width:100%;height: 47px}
	.l-aside-historyuser .title span,.l-aside-online .title span{position: relative;top: 14px;left: 20px;}
	.l-aside-online .invite-btn{padding:12px;color: #fff;text-decoration: none;font-size:12px;position:absolute;top: 20px;right:0px;top:0px;height:24px;
			cursor:pointer;
		}
		.l-aside-online .invite-btn:hover{background:#242424;}
		.l-aside-online .invite-btn .icon-add{margin-top: 4px;}
		.l-aside-historyuser .users-box .loading{font-size:12px;color:#666;}
		.l-aside-online .users-box .offline-tips{text-align: center;padding: 10px 0px;background: #F8FFA1;color: rgb(199, 147, 15);font-size: 13px;}
	.l-aside-historyuser .users-box,.l-aside-online	.users-box{height:100%;box-sizing: border-box;-moz-box-sizing: border-box;padding:50px 0px;padding-top:48px;}
	.l-aside-historyuser .users,.l-aside-online .users{height:100%;overflow-y:auto;}
	.l-aside-online .users li{font-size:13px;padding:8px 0px 8px 18px;cursor:pointer;color:#707070;
		-webkit-transition: all .3s ease;
		-moz-transition:all .4s easet;
		-o-transition:all .4s ease;
	}
	.l-aside-online .users li a{color:#707070;}
	.l-aside-online .users li a.no-name{color:#BDBDBD}
	.l-aside-online .users .me a.no-name{color:#F3A6A6 }
	.l-aside-historyuser .users li img,.l-aside-online .users li img{width: 29px;height: 29px;vertical-align: middle;margin-right: 5px;border: #fff solid 2px}
	.l-aside-online .users .me{background: #f6f6f6;cursor: default;border-left:solid 3px #fe7676}
	.l-aside-online .users .me .name{color:#e75f5f;}
	.l-aside-online .users .icon-talk{margin-right: 8px;margin-top: 5px;visibility:hidden;
		-webkit-transition: margin .2s ease;
		-moz-transition:margin .2s ease;
		-o-transition:margin .2s ease;
	}

	.l-aside-online .users .insert-li{margin-left:-200px;border-left: 3px solid #968efb; }
	.l-aside-online .users li:hover .icon-talk{visibility:visible;margin-right:20px;}
	.l-aside-online .users li:hover{background: #f6f6f6;border-left: 3px solid #968efb;box-shadow: 1px 1px 2px #CACACA;}
	.l-aside-online .users .me:hover{border-left-color: #fe7676; box-shadow:none;}
	.l-aside-online .operation{position:absolute;bottom:0px;left:0px;}
	.l-aside-online .operation .history-btn{width:37px;height:37px;background:url(../images/all.png);background-position:-3px -155px;display:inline-block;margin-left: 12px;margin-bottom: 3px;cursor:pointer;}
	.l-aside-online .operation .history-btn:hover{background-position:-32px -3px;}

	.l-aside-historyuser .users li{float:left;margin-bottom:5px;}
	.l-aside-historyuser .users{padding-left: 7px;padding-top:10px}


	.l-aside-wall .back-btn{position: absolute;right: 8px;background: #f2f2f2;width: 27px;height: 35px;border-radius: 0px 0px 4px 4px;box-shadow: 0px 0px 5px #525252;border: 1px solid #fff;border-top: 0;
		-webkit-transition:top .4s ease-in-out;
		-moz-transition:top .4s ease-in-out;
		-o-transition:top .4s ease-in-out;
		top:-30px;
		cursor:pointer;
	}

	.l-aside-wall .back-btn .icon-down{margin-left:5px;margin-top:10px;}

	.r-aside-atlas .title{font-size: 12px;display: block;color: #fff;padding:5px 10px;background:#fff;background: #C9C9C9;border-bottom: #B1B1B1 1px solid;position:relative;font-weight:bold;}
	.r-aside-atlas .container{padding:5px;border-top:#F1F1F1 1px solid;padding-top: 18px;}
	.r-aside-atlas .albums li .album-name{line-height: 1.1;display:block;color: #616161;font-size: 13px}
	.r-aside-atlas .albums li{text-align:center;height:145px;width:145px;float:left;}
	.r-aside-atlas .albums li img{ max-width:110px;max-height:110px;text-align:center;border:#fff solid 2px;border-radius:4px;box-shadow: 0px 0px 4px #B3B3B3;cursor:pointer;}
	.r-aside-atlas .guide{background:#F1F1F1;padding: 5px 5px 5px 10px;font-size:13px;}
	.r-aside-atlas .guide .album-name{color:#666;}

	.r-aside-atlas .pics li{text-align:center;}
		.r-aside-atlas .pics li img{border-radius:4px;border: #F3F3F3 solid 1px;max-width: 170px;max-height: 170px;margin-bottom: 5px;}
	/* */
	.small-online li{width:40px;padding:0px;}
	


	/* for init js*/
	.login-style .main{margin-left:0px;}
	.login-style .l-aside{left:-200px;}
	.login-style .login-wall{top:0px;}
	.history-wall{top:100%;}


	/* for js edit topic */

	.main-title .edit-topic{padding:15px 0px}
		.main-title .edit-topic ul li{overflow:hidden;padding:3px 20px;margin-bottom: 5px;}
			.main-title .edit-topic .topic-name{width:60%;min-width:14em;}
			.main-title .edit-topic .btns{padding: 20px;background: #fff;border-top: #D3D3D3 solid 1px;margin-top: 20px;
				position: absolute;width: 100%;bottom: 0px;}

	
	/* for video style */
	.video-style .video-wall{position:relative;z-index:40;background: rgb(243, 244, 245);
		z-index:20;
		margin-left: 300px;
		width:auto;
		-webkit-transition:padding-left .2s ease-in-out;
		-moz-transition:padding-left .2s ease-in-out;
		-o-transition:padding-left .2s ease-in-out;

		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
	}
	.video-style .chat-wall{width:300px;box-shadow: 1px 1px 5px #868CA8;z-index:30;}
	.video-style .chat-wall .title-txt{width:5em;overflow:hidden;display:inline-block;float: left;text-overflow: ellipsis}
		.video-wall .view-area{text-align:center;height:100%;padding:0px 0px 150px 0px;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-o-box-sizing: border-box;
		}


		.video-wall  video{background:#858585;display:inline-block;max-height:400px;height:100%;width:70%;float:left;}
		.video-wall .view-area video{margin-left:15%;}
		.video-wall .operation{height:47px;}
		.video-wall .list-area{position:absolute;bottom:0px;
			border-top: #C0C0C0 solid 1px;
			width: 100%;
			padding:10px 0px 10px 15px;
			background:#fff;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-o-box-sizing: border-box;
		}
			.video-wall .list-area ul li{float:left;margin-right:15px;}
				.video-wall .list-area ul li:hover{border-bottom:#968efb solid 2px;cursor:pointer;}
			.video-wall .list-area video{height:80px;width:100px;float:left;background:#ccc;}
			.video-style .talks .time{visibility:hidden;}
			.video-wall .list-area .item{float:left;cursor:pointer;position:relative;margin-right:15px;}

			.video-wall .view-area .inner{display:inline-block;position:relative;height:100%;}
			.video-wall .list-area .item .tabs{position:absolute;bottom:0px;background:#000;opacity:.4;color:#fff;
				left: 0px;min-width: 100%;font-size: 13px;padding: 5px 0px;opacity: 0;
				-webkit-transition: opacity .2s ease-in-out;
				-moz-transition: opacity .2s ease-in-out;
				background:-webkit-gradient(linear, 0% 100%, 0% 0%, from(rgba(49, 49, 49, 0.901961)), to(rgba(0, 0, 0, 0)));
				background: #424242;
			}
				.video-wall .list-area .item .tabs{bottom: 90px}
					.video-wall .list-area .tabs .name{margin-left:10px;color:#fff;
						overflow: hidden;display: inline-block;float: left;text-overflow:ellipsis;
						width:45px;
					}
					.video-wall .list-area .tabs .name:hover{text-decoration:underline;}

					.video-wall .list-area .tabs .arrow{position: absolute;bottom: -17px;left: 37px;
							border: 10px dashed transparent;width: 0px;height: 0px;border-top: 10px solid #424242;}

			.video-wall .list-area .item:hover{box-shadow: 0px 0px 3px #464646}
			.video-wall .list-area .item:hover .tabs{opacity: 1}
			.video-wall .list-area .item video:active{
				-webkit-transform: scale(1.1);
			}

			.video-wall .list-area .item-me .tabs{background: #EB7878;}
				.video-wall .list-area .item-me .arrow{border-top-color: #EB7878;}

			.video-wall .operation .close{position: absolute;right: 20px;top: 10px;padding: 5px 14px;cursor:pointer;}
			.video-wall .list-area span,.video-wall .list-area i{float:left;}
			.video-wall .list-area span{margin-top:2px;}
				.video-wall .list-area .mike,.video-wall .list-area .sound{float:right;margin-right:11px;}


/* set nickname page */

	.wall-setname{background:#d5d9de;box-shadow: 1px 1px 5px #868CA8;opacity:1;}
	.wall-setname .main{margin-left:0px;}
	.wall-setname .main .main-out{position:absolute;top:40px;right:0px;background: #C7C7C7;padding:8px;
	border: #fff solid 1px;width:40px;border-radius:3px 0px 0px 3px;border-right:0;z-index: 99;font-size:0;}
		.wall-setname .line{height:0px;width:100%;border-top:#b2b4b6 solid 1px;border-bottom:#fff solid 1px;position: absolute;
top: 50%;}
		.wall-setname .topic-title{color:#fff;font-size:13px;top: -145px;}
		.wall-setname .topic-content{font-size: 26px;color: #555555;bottom: 77px;}
		.wall-setname .topic-title,.wall-setname .topic-content{padding-right:20px;position:absolute;text-align: center;width:100%;padding: 0px 10px;box-sizing: border-box;-moz-box-sizing: border-box}
			.wall-setname .login-input{z-index:99;position:relative;text-align:center;bottom: 22px;height: 42px;overflow: hidden}
			.wall-setname .login-input input{font-size: 15px;padding:4px;border:#b8bec4 solid 1px;box-shadow: 0px 0px 1px #BEBEBE;color: #666;padding-left: 35px;width: 11.6em}
				.login-input .nickname-input input{padding-left:47px;width:19em;height:32px;}
				.login-input .nickname-input{display:inline-block;position:relative;
					-webkit-transition:top .3s ease-in-out,opacity .3s ease-in-out;
					-moz-transition:top .3s ease-in-out,opacity .3s ease-in-out;
					-o-transition:top .3s ease-in-out,opacity .3s ease-in-out;
					margin-bottom:5px;
				}
				.login-input .nickname-input img{width: 34px;height: 34px;top: 4px;left: 4px;position:absolute;}
				.login-input .nickname-input .loading{width: 16px;height: 16px;top: 13px;left: 12px}
		.wall-setname .input-box{position:relative;display:inline-block;}
			.wall-setname .input-box .icon-email,.wall-setname .input-box .icon-lock{position: absolute;top: 14px;left: 10px}
			.wall-setname .input-box .icon-lock{left: 12px;top:12px;}
			.wall-setname .account-btn{text-align:center;width: 100%;position: absolute;bottom: -65px;z-index: 99}
			.wall-setname .account-btn .btn{border-radius:3px;color:#fff;font-size:12px;padding: 5px 8px;margin-left: 191px}
			.wall-setname .account-btn .btn:hover{background:#A6AAAF}
			.wall-setname .account-btn .btn:active{background:#959799}
			.wall-setname .account-btn .icon-user{vertical-align: middle;margin-bottom: 3px;margin-right:3px;}
/*			
			.wall-setname .account-input input{margin-right:10px;height:32px;}
			.wall-setname .account-input .login-btn{background: #868C91;padding: 11px 10px;border-radius: 3px;color: #fff;border:0;cursor:pointer;}
				.wall-setname .account-input .login-btn:hover{background:#565657}
				.wall-setname .account-input .login-btn:active{background: #383838}
		.wall-setname .account-input{position: relative;-webkit-transition:top .3s ease-in-out,opacity .3s ease-in-out;}*/
		.wall-setname .nickname-input .login-btn{width:18px;height:18px;display:inline-block;position:absolute;right: 10px;top: 12px}
			

			

	
	@media (max-width:700px){
		.wall-setname .login-input{height: auto;overflow: visible;width:219px;margin:0px auto;}
			.wall-setname .account-input input{margin-right:0px;}
			.wall-setname .account-input .input-box{margin-bottom:10px;}
		.wall-setname .account-input{top: -39px}
		.wall-setname .account-input .login-btn{width:219px;}
		.login-input .nickname-input input{width:12em;}
		.wall-setname .account-btn .btn{margin-left: 101px}


		.video-style .video-wall{background: rgb(243, 244, 245);z-index:40;margin-left:0px;width:100%}
		/*//#nickname-login-btn{bottom: -88px;position: relative;margin-left: 64px;}*/

	}

	@media (max-width:900px){

		/* video style */
		
		.video-style .main{margin-left:0px;}

	}