/*
		page layout
		.global : for all website;
		.header
		.main : 
		.l-l-aside
		.r-l-aside
		.footer
	 */
	/* reset */

/* yahoo reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{line-height:1.2}
table{border-collapse:collapse;border-spacing:0}
fieldset,images{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}
input,textarea,select{*font-size:100%}
legend{color:#000}
ul,li,body,h1,h2,h3,input{padding:0px;margin:0px;}
a{text-decoration:none;}
.clear-fix{zoom:1;clear: both;}
.clear-fix:after{content:"\20";display:block;clear:both;}

.pull-left{float:left;}
.pull-right{float:right;}
.set-middle{margin:0px auto;}


::-webkit-scrollbar {width: 8px;height: 8px;}
::-webkit-scrollbar-thumb {border-width: 1px;border-style: solid;border-color: #fff;border-radius: 6px;background: #d7d7d7;}
::-webkit-scrollbar-track-piece {width: 11px;height: 11px;}




/* common */
body{font-family: "Ebrima",tahoma,arial,\5b8b\4f53;}
header{height: 35px;background: red;position: relative;z-index: 30;}

.icon-loading{width:16px;height:16px;background:url(../images/loadinfo.net.gif);display:inline-block;}
.icon-chat{width:13px;height:13px;display:inline-block;vertical-align:middle;background:url(../images/all.png);background-position:-5px -41px;margin-right:5px;}
.icon-screen{display: inline-block;width: 13px;height: 13px;float: right;background: url(../images/all.png);background-position: -5px -59px;}
.icon-close{width: 8px;height: 8px;background: url(../images/all.png);background-position: -6px -116px;display: inline-block;}
.icon-clock{width: 12px;height: 12px;display: inline-block;vertical-align: middle;background: url(../images/all.png);background-position: -4px -79px;margin-right: 5px;margin-top: -2px}
.icon-reply{width: 17px;height: 12px;display: inline-block;background: url(../images/all.png);background-position: -3px -99px;vertical-align: middle;}
.icon-add{background: url(../images/all.png);width: 16px;height: 16px;display: inline-block;margin-top: 1px;vertical-align: text-top;background-position: -1px -1px}
.icon-talk{width: 21px;height: 18px;display: inline-block;background: url(../images/all.png);background-position: 0px -18px;float: right;}
.icon-back{width:9px;height:11px;background:url(../images/all.png);background-position:-5px -128px;display:inline-block;}
.icon-down{width:17px;height:19px;background:url(../images/all.png);background-position:-3px -130px;display:inline-block;}
.icon-larrow-black{width: 17px;height: 27px;;background:url(../images/all.png);background-position:-40px -49px;display:inline-block;}
.icon-larrow-black:hover{background-position:-40px -78px;}
.icon-go{width:18px;height:18px;display:inline-block;background:url(../images/all.png);background-position:-40px -115px;}
.icon-go:hover,.icon-go-click{background-position:-40px -137px;}
.icon-go:active{background-position:-40px -158px}
.icon-user{width:15px;height:13px;display:inline-block;background:url(../images/all.png);background-position:-42px -183px;}
.icon-poweroff{width:21px;height:22px;display:inline-block;background:url(../images/all.png);background-position:-75px -8px;}
.icon-email{width:18px;height:13px;display:inline-block;background: url(../images/all.png);background-position: -76px -65px;}
.icon-lock{width:14px;height:16px;display:inline-block;background: url(../images/all.png);background-position: -76px -87px;}
.icon-noticedefault{width:13px;height:16px;display:inline-block;background:url(../images/all.png);background-position: -78px -139px;}
.icon-noticeaction{width:16px;height:16px;display:inline-block;background:url(../images/all.png);background-position: -77px -115px;}

.hidden{display:none;}


/* common package */
	/* form , input */
input::-webkit-input-placeholder {
    color:#cecece;
    letter-spacing:0px;
}
.input-box{border:#b8bec4 solid 1px;display: inline-block;background:#fff;position:relative;}
	.input-box input{border:0;outline: none;padding:7px; padding-left: 42px;color: #666;width: 16em}
	.input-box i{position:absolute;top: 28%;left: 4%}
	.input-box .icon-lock{left:13px;}.input-box .icon-user{left: 14px;top: 13px}
.vert-form .input-box{box-shadow:0px 0px 4px #bdc0c5;margin-bottom: 10px;}
	.form-middle{width:307px;}
	.form-link{font-size:14px;color:#777b7e;}.form-link:hover{text-decoration:underline;}
	/* button */
	.btn,button{border-radius: 1px;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.428571429;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;background-image: none;border: 1px solid transparent;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;-o-user-select: none;}
		.form-btn{background:#868c91;color:#fff;border:#6a6d6f solid 1px;margin-top: 15px;padding: 8px 12px}
		.form-btn:hover{background:#737577}.form-btn:active{background:#5F6163}
		.strip-btn{width:307px;}
	.vert-form .tips{margin-top:8px;font-size: 13px}
	.vert-form .bottom-tips{border-top:#B4B4B4 dotted 1px;color:rgb(141, 141, 141);text-shadow: 1px 1px 0px #F5F5F5;padding:10px 0px}
	


/* header */
header{background:#545652;height:33px;border-bottom:#303030 solid 1px;box-shadow: 0px 0px 3px #030303;z-index: 99}
	.header-menu .account-box img{width:20px;height:20px;border-radius:3px;position: absolute;left: 18px;top: 7px}
	
	.header-menu .notice-box,.header-menu .account-box{display:inline-block;float: left}
	.header-menu{position:relative;float:right;height:33px;}
	.header-menu .notice-box a,.header-menu .account-box .nick-name{padding: 0px 20px;display: block;height:33px;line-height: 36px;color:#D8D8D8}
	.header-menu .account-box .nick-name{font-size: 13px;color:#fff;white-space: nowrap;word-wrap: normal;word-break: normal;text-overflow: ellipsis;overflow: hidden;position:relative;padding-left:50px;}
		.header-menu .notice-box i{vertical-align: middle;margin-bottom: 3px}
		.header-menu .account-box .nick-name{border-left: #222 solid 1px;}
		.header-menu .notice-box{border-right: #6B6B6B solid 1px}
		.header-menu .account-box .nick-name:hover{background:#222}
	.header-unlogin a{height: 34px;line-height: 34px;font-size: 13px;color: #E6E6E6;display: inline-block;padding: 0px 20px;border-right: #424242 solid 1px}
		