
body{background:#f2f2f2;}
/** 主要区域 */
.main{width:450px;margin-left:10px;}
	.main .header{overflow:hidden;margin-bottom:20px;}
.timeline{position:fixed;width:5px;height:100%;background:#5ca8c8;margin-left:-27px;}

.chat,.post-box-in{border:1px solid #c6c6c6;position:relative;margin-bottom:10px;background:#fff;}
.post-box{margin:5px 0 20px 0;}
	.post-box .btns{text-align:right;background:#f7f7f7;}
	.post-box-in{margin:0;}
.post-box .post-text-box{margin:3px 5px;}
.post-box .post-text{border:none;width:100%;max-width:100%;min-height:50px;padding:0;margin:0;outline:none;border:none;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
.post-box .post-text:focus{outline:none;border:none;box-shadow:none;}

/* post fixed */
.post-box-fixed .post-box-in{z-index:10;position:fixed;width:448px;top:0px;}
	.post-box-fixed .post-box-in{border-color:#f7b45d;}
	.post-box-fixed .lj-right{border-right-color:#f7b45d;}
	

.chat{padding:10px 10px 0 10px;}
	.chat-header{border-bottom:1px solid #dadada;margin-bottom:3px;}
	.user-name{font-size:14px;color:#5ca8c8;}
	.time{color:#c6c6c6;}
	.post-id{float:right;font-size:12px;font-family: Constantia, Georgia;}


.slide-list{position:fixed;top:0;height:100%;border:1px solid #c6c6c6;right:0;width:180px;background:#fff;padding:20px 0;}
/* user list */
.time-search{margin-top:211px;position:fixed;}
	.time-search ul{list-style:none;width:180px;}
	.time-search li{text-align:right;margin:1px 0;}
	.time-name{display:inline-block;border-right:5px solid #c7c7c7;padding:2px 5px;color:#ccc;}
	.time-name:hover,.time-name.on{border-color:#3988d0;color:#5ca8c8;}

/* 三角图标 */
/**lg*/

.lj-in{position:absolute;zoom:1;border:11px dashed transparent;width:0px;height:0px;}
.lj-in .lj-span{zoom:1;width:0px;height:0px;overflow:hidden;}
.lj-close{position:absolute;text-decoration:none;color:#000;font-size:13px;zoom:1;text-indent:1px;height:9px; width:9px; overflow:hidden;line-height:6px;right:0;top:0;
	line-height:-12px;
}
.lj-right{border-right:10px solid #c6c6c6;left:-22px;top:3px;}
.lj-right .lj-span{border-right:11px solid #fff;margin:-11px 0 0 -9px;;}
.lj-dot{border:8px solid #fff;border-radius:8px;position:absolute;left:-34px;top:5px;}
.lj-dot .lj-d{border:5px solid #5ca8c8;border-radius:5px;position:absolute;left:-5px;top:-5px;}