/* yahoo reset */
html{color:#000;background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li{list-style:none;}caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}
legend{color:#000;}body {font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
table {font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}
p{padding:3px 5px 5px 0px;}

a{text-decoration:none;}
a:hover{}

.hidden{display:none;}
.btn-group{position:relative;display:inline-block;font-size:0;white-space:nowrap;vertical-align:middle;text-align:right;vertical-align:text-bottom;}
.btn-group .btn{-moz-border-radius:4px;
	-webkit-border-radius:4px;border-radius:4px;
	line-height:20px;display:inline-block;padding:4px 12px;color:#333;line-height:20px;text-shadow:0 1px 1px rgba(255,255,255,0.75);
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	border:1px solid #bbb;vertical-align:middle;cursor:pointer;}
.btn-group .btn:active{background-image:-webkit-linear-gradient(top,#e6e6e6,#e4e4e4);}