header{position:relative;}
.personal{text-align:center;margin-top:30px;}
.personal h1{font-size:25px;font-weight:bold;margin-top:10px;}

.personal-chats{padding:10px;}
.personal-chats h2{color:#072;font-size:14px;line-height:33px;}
.personal-chats .room-list{margin-left:18px;}
.personal-chats .room-list li{padding: 5px 0;border-bottom: 1px dashed #ddd;list-style: disc}
.personal-chats .group{margin-bottom:25px;}
	.room-list .des{color:#d2d2d2;}
	.room-list .time{color:#999;float:right;}