<div>
<div style="width:600px;margin:0px auto;">
	<div class="header">
		<a href="https://vchat.co" style="display: inline-block;height:33px;font-size: 20px;text-decoration: none;color: #333;font-weight: bold">
			vchat.co
		</a>
		
	</div>
	<div class="content" style="font-size:14px;text-indent: 2em;border: #DFDFDF solid 1px;background: #f8f8f8;margin-top: 10px;color: #666;padding:10px 0px;border-radius: 4px;">
		<p style=""><a style="color: #3C7FCE;text-decoration: none;" href="https://vchat.co/user/<%=from._id%>"><%=from.name%></a>&nbsp;邀请你参与&nbsp;<a style="color: #3C7FCE;text-decoration: none;" href="https://vchat.co/t/<%=room.name || room.id%>"><%=room.topic%></a>&nbsp;的话题讨论</p>
		<p style="text-align: right;padding-right: 2em;font-size: 13px;color: #888;"><%=time%></p>
	</div>

	<p style="color:#999;font-size:13px;text-align:right"><a href="https://vchat.co" target="_blank">vchat.co</a> 是一个基于话题的即时在线讨论平台</p>
</div>
</div>