<div style="width:600px;margin:0px auto;font-family:'Ebrima',tahoma,arial,\5b8b\4f53">
	<div class="header">
		<a href="https://www.vchat.co" style="display: inline-block;height:33px;font-size: 20px;text-decoration: none;color: #333;font-weight: bold">
			vchat.co
		</a>
		
	</div>
	<div class="content" style="font-size:14px;text-indent: 2em;border: #DFDFDF solid 1px;background: #f8f8f8;margin-top: 10px;color: #666;padding:10px 0px;border-radius: 4px;">
		<p style="text-align: center;">CK.Ming , 我们的小伙伴都非常欢迎你加入<a style="color: #3C7FCE;text-decoration: none;" href="https://www.vchat.co">vchat.co</a></p>

		<!-- <div style="font-size: 13px;color: #888;width: 550px;margin: 0px auto;border-top: #DDD dotted 1px;">
			<ul style="margin: 0px;margin-top:10px;padding: 0px">
				<li style="text-indent: 0em;list-style: none">只要一个链接，你就能与你的小伙伴参与话题的即时讨论</li>
			</ul>
		</div> -->
	</div>

	<p style="color:#999;font-size:13px;text-align:right"><a href="https://www.vchat.co" target="_blank">vchat.co</a> 是一个基于主题的即时在线讨论平台</p>
</div>
