<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title><%=user.name%> - Vchat</title>

	<link rel="stylesheet" type="text/css" href="/public/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="/public/css/personal.css"/>

	<% var pageName = "bindEmail"; %>

</head>
<body>

	<!-- top {user:{user}} -->
	<% include ../common/top.ejs %>

	
	<div class="wrap">
		<div class="main">
			<div class="main-inner">
				<div class="main-header">
					<h1>Bind Email</h1>
				</div>	

				<div class="main-content">
					
					<div class="bind-mail">
						<div class="tips">Experience vchat.co time, the system will work for you to quickly create an anonymous user, the binding mailbox allows you to get more permissions</div>

						<% if( /^[\w._\-]+@[\w_\-]+\.\w+$/.test(user.mail) ){ %>

							<p style="padding: 30px 0px">Already bind Email : <%=user.mail %></p>
						<% }else{ %>

							<div class="edit">
								<div class="input-box">
									<i class="icon-email"></i>
									<input autofocus id="bindMail-input" placeholder="Type your email">
								</div>
								<div class="error-tips hidden" id="bindMail-tip">
									Error
								</div>
								
								<button id="bindMail-submit" class="btn">Submit</button>
							</div>
						<% } %>
						
					</div>

				</div>
			</div>
		</div>

		<% include public-left.ejs %>
	</div>

	<script type="text/javascript" src="/public/js/lib/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/we.min.js"></script>
	<script type="text/javascript" src="/public/js/we.top.min.js"></script>
	<script type="text/javascript" src="/public/js/we.user.min.js"></script>
	<script type="text/javascript">
		WE.userPage.bindMail.init();
		WE.top.init();
	</script>
</body>
</html>