<% pageName = pageName || "home"; %>
<div class="l-aside">
	<div class="create-btn">
		<a href="/create-topic" class="btn btn-middle">Create Topic</a>
	</div>
	<span class="line"></span>
	<div class="menu">
		<ul>
			<li>
				<a <% if( pageName=="home"){ %> class="select" <% } %> href="/user/home">Home</a>
			</li>
			<li>
				<a <% if( pageName=="notice"){ %> class="select" <% } %> href="/user/notice">Notice</a>
			</li>
			<li>
				<a <% if( pageName=="topic"){ %> class="select" <% } %> href="/user/topic">Topics</a>
			</li>
			<li>
				<a <% if( pageName=="editAvatar"){ %> class="select" <% } %> href="/user/edit-avatar">Edit Avatar</a>
			</li>
			<li>
				<a <% if( pageName=="editInfo"){ %> class="select" <% } %> href="/user/edit-info">Edit Account</a>
			</li>
		</ul>
	</div>
</div>