<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>上传照片 - Vchat</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
</head>
<body>

	<div>
		<form action="/p/create-photo" method="post" enctype="multipart/form-data" >
				<div><input type="text" name="albumsId" value="<%=albums._id%>" /></div>
				<input type="file" name="photo" id="" class="btn"  multiple="multiple" >
				<input type="submit" value="提交" class="btn">
		</form>
	</div>
	
		<pre>
user:<%- JSON.stringify(user, '', 2)%>

albums:<%- JSON.stringify(albums, '', 2)%>
	</pre>
</body>
</html>