<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>上传照片 - Vchat</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
</head>
<body>

	<div>
		<form action="/p/upload_photo" method="post" enctype="multipart/form-data" >
				<input type="file" name="hello" id="" class="btn"  multiple="multiple" >
				<input type="submit" value="提交" class="btn">
		</form>
	</div>
</body>
</html>