<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8"> 
		<title>Chat.js -即时对话组件</title> 
		<meta name="keywords" content="Chat.js, Chat, vchat.co"/> 
		<meta name="description" content="网站在线用户即时对话组件,即时对话"/>
		<style type="text/css"> 
			.chat-js{width:960px;margin-left:auto;margin-right:auto;margin-top: 20px;font-size:14px;color:#46483e;}
			.title-chat{color:#48afcc;margin:20px 0 30px;font-size:4em;}
			.title-chat small{font-size:12px;margin-left:20px;}
			.explain-chat{font-size:16px;margin-top: 30px;}
			.addjs-chat{font-size: 13px;padding:5px;background-color: #f8f8f8;border: none;}
			.config-chat li{position: relative;padding-left: 90px;line-height: 20px;margin-bottom: 12px;list-style-type: none;}
			.config-chat strong{position:absolute;left:5px;top:0;}
		</style>
	</head>
	<body>
		<div class="chat-js">
			<h1 class="title-chat">Chat.js<small>v1.0 即时对话组件</small></h1>
			<h2 class="explain-chat">说明</h2>
		
			<p>网站在线用户即时对话组件</p>
			
			<h2 class="explain-chat">如何使用？</h2>
			<p>在页面插入以下代码片段</p>
			<pre class="addjs-chat"> 	
	var __vchat_config = { 
		domain:document.domain, 
		uid:"5125d4b5cf3ffd489500000xx1", 
		uname:"爱因斯坦", 
		uavatar:"http://tp4.sinaimg.cn/1685239567/180/5608887021/1" 
	}; 
	 
	;;(function(){ 
		var chat = document.createElement("script");chat.type = 'text/javascript';chat.async = true; 
		chat.src = "http://vchat.co/js/chat.min.js"; 
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(chat, s);  
	})(); 
			</pre>
			<h2 class="explain-chat">__vchat_config 配置</h2>
			<ul class="config-chat">
				<li>
					<strong>domain:</strong> String 默认document.domain 例如 domain : "vchat.co"; 可选
				</li>	 	
				<li>
					<strong>uid:</strong> String 当前登录用户的唯一标识 例如: uid : MD5(email + pwd) 可选
				</li>	 
				<li><strong>uname:</strong> String 用户昵称 可选</li>	  
				<li><strong>uavatar</strong> String url 用户头像 可选</li>	 
			</ul>	
			<h2 class="explain-chat">End</h2>

			<p>__vchat.js 在不断改进，如果你在使用中遇到任何问题。都可以到 <a href="http://vchat.co/chat.js">http://vchat.co/chat.js</a> 求助</p>
			<br/>
			<br/>
			<br/>
			<br/>	
			<div>Page author <a href="http://weibo.com/alllifetoyou2" target="_blank" rel="weibo">Nosier</a></div>		
		</div>
<script>

	var __vchat_config = {
		server:"http://"+document.location.host,//实际使用中 server 是不必要的，这里是 lujun 为了方便调试
		domain:"vchat.co/chat.js",//登录到vchatjs的讨论空间
		uid:""//使用vchat的登录用户
	};

	;;(function(){

		var chat = document.createElement("script");chat.type = 'text/javascript';chat.async = true;
		chat.src = __vchat_config.server+"/js/chat.js";
		chat.onload = function(){//加载成功自动打开 chat
			__vchat.openAndClose();
		};
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(chat, s); 

	})();

</script>
		
	</body>
</html>