<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>登录 - Vchat</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/all.css" />
	<link rel="stylesheet" href="/css/Stip.css" />
	<style type="text/css">
		.oauth-btn:link{width:129px;display:inline-block;height:29px;
			background-image:url(/images/oauth_login.png);
		}
		.oauth-btn:hover,.oauth-btn{background-color:transparent;}
		.oauth-btn span{margin-left:45px;line-height:26px;color:#fff;}

		.oauth-sina{background-position:-129px 0;}
		.oauth-sina:hover{background-position:-129px -29px;}
	</style>
	<script type="text/javascript" src="/js/jquery-1.6.js"></script>
	<script type="text/javascript" src="/js/we.min.js"></script>
	<script type="text/javascript" src="/js/Stip.js"></script>
	<script type="text/javascript" src="/js/Checkform.js"></script>
	<script type="text/javascript">
		var USER = <%- JSON.stringify(user)%>;
	</script>
</head>
<body>
	<!-- top {user:{user}} -->
	<% include ../common/top.ejs %>

	<div class="container">
		<div class="head">
			<h1>Vchat</h1>
			<p class="subtitle" > --- 基于主题的多人对话</p>
		</div>
		<div class="row">
			<div class="span6">
				<div class="create">
					<h3>登陆</h3>
					<form action="#" method="post" id="login" >
						<% if( code  != 0 ){ %>
							<div class="alert"><%= msg %></div>
						<% } %>
						<input type="hidden" name="referer" value="<%=referer%>" >
						<ul class="reset">
							<li>
								<label for="email">Email</label>
								<input type="text" id="email" name="email" placeholder="Email">
							</li>
							<li>
								<label for="pwd">密码</label>
								<input type="password" id="pwd" name="pwd" placeholder="password">
							</li>
							
							<li><input type="submit" class="btn" value="登录" /></li>
						</ul>
					</form>
					<hr/>
					<div style="display:none;" >
						<a href="https://api.weibo.com/oauth2/authorize?client_id=2330339834&redirect_uri=http://vchat.co/sys/weibo_login&response_type=code&state=http://vchat.co&t=<%=Math.random()%>" class="oauth-btn oauth-sina" >
							<span>微博登录</span>
						</a>
					</div>
				</div>
			</div>
			<div class="span5">
				<div class="into">
					<h3>还没有账户?</h3>
					<div> <a href="/sys/reg">注册账户</a> </div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="footer">
		<div class="container">
		<p><a href="/about">about</a></p>	
		</div>
	</div>
	<script type="text/javascript">
		var json = [
			{
				id:"email",
				email:{rule:true,msg:"请添加正确的邮箱格式"}

			},
			{
				id:"pwd",
				minLength:{rule:6,msg:"密码长度不够"},
				maxLength:{rule:16,msg:"密码不正确"}

			}
		];

		var regForm = new  CheckForm(json);

		$('#login').click(function(){
			if( regForm.okay() ){
				return  true;
			};
			return false;
		});

	</script>
</body>
</html>