<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>登录 - Vchat</title>
<!-- 	<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/public/css/all.css" /> -->
	<link rel="stylesheet" href="/public/css/Stip.css" />
	<style type="text/css">
		/*.oauth-btn:link{width:129px;display:inline-block;height:29px;
			background-image:url(/public/images/oauth_login.png);
		}
		.oauth-btn:hover,.oauth-btn{background-color:transparent;}
		.oauth-btn span{margin-left:45px;line-height:26px;color:#fff;}

		.oauth-sina{background-position:-129px 0;}
		.oauth-sina:hover{background-position:-129px -29px;}

		.oauth-qq{background-position:0 0;}
		.oauth-qq:hover{background-position:0 -29px;}*/
		html,body{background:#d5d8dd;}
			.main-login h1{text-align:center;font-size:48px;}
			.main-login h1 a{display:inline-block;color:#4d4d4e}
			.main-login .introduce{text-align:center;color: #a3a4a5}
		.login-header{padding: 40px 0px;border-bottom:#b2b6b9 solid 1px;}
		.login-content{padding-top:35px;border-top:#fbffff solid 1px;}
		.login-content .status-tips{width:297px;text-align:center;background:rgb(246, 246, 126);
				font-size: 13px;padding:10px 5px;color: rgb(131, 22, 22);margin-bottom:20px;}

	</style>

	<link rel="stylesheet" type="text/css" href="/public/css/common.css"/>

	<script type="text/javascript" src="/public/js/lib/jquery-1.6.3.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/we.min.js"></script>
	<script type="text/javascript" src="/public/js/lib/Stip.js"></script>
	<script type="text/javascript" src="/public/js/lib/Checkform.js"></script>
	<script type="text/javascript" src="/public/js/we.top.min.js"></script>
	<script type="text/javascript">
		var USER = <%- JSON.stringify(user)%>;
	</script>
</head>
<body>
	<!-- top {user:{user}} -->
	<% include ../common/top.ejs %>


	<div class="main">


		<div class="main-login">

			<div class="login-header">
				<h1>
					<a href="/home">vchat.co</a>	
				</h1>
				<p class="introduce">chat eachother base on topic</p>
			</div>

			<div class="login-content">
				<% if( status.code  != 0 ){ %>
					<div class="status-tips set-middle"><%= status.msg %></div>
				<% } %>
				<form class="vert-form form-middle set-middle" action="/login" method="post" id="login">
					<input type="hidden" name="referer" value="<%=referer%>" >
					<div class="input-box">
						<i class="icon-email"></i>
						<input autofocus placeholder="Email" type="text" name="email" id="email" maxlength="100">
					</div>
					<div class="input-box">
						<i class="icon-lock"></i>
						<input placeholder="Password" id="pwd" type="password" name="pwd" maxlength="50">
					</div>
					
					<button type="submit" class="btn form-btn strip-btn">Login In</button>
					<a class="form-link tips" href="/reg">create my account</a>
				</form>
			</div>
		
		</div>
	</div>
	
	<% include ../common/footer.ejs %>
	<script type="text/javascript">

		WE.top.init();
		var json = [
			{
				id:"email",
				email:{rule:true,msg:"请添加正确的邮箱格式"}

			},
			{
				id:"pwd",
				minLength:{rule:6,msg:"密码长度不够"}
			}
		];

		var regForm = new  CheckForm(json);

		$('#login').submit(function(){
			 return regForm.okay();
		});

	</script>
	
</body>
</html>