<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Web Chat</title>
	<% include common/links %>
</head>
<body>
	<div class="header">
		<a href="/">首页</a> | <a href="/sys/login">登陆</a> | <a href="/sys/reg">注册</a>
	</div>
	<div class="container">
		<div class="head">
			<h1>Web Chat</h1>
		</div>
		<div class="row">
			<div class="span6">
				<div class="create">
					<h3>注册</h3>
					<form action="/sys/reg" method="post" id="regForm" >
						<% if(code  != 0 ){ %>
							<div class="alert"><%= msg %></div>
						<% } %>
						<ul class="reset">
							<li>
								<label for="email">Email</label>
								<input type="text" id="email" name="email" placeholder="Email">
							</li>
							<li>
								<label for="name">昵称</label>
								<input type="text" id="name" name="name" placeholder="name">
							</li>
							<li>
								<label for="des">密码</label>
								<input type="password" id="pwd" name="pwd" placeholder="password">
							</li>
							<li>
								<label for="des">再次输入密码</label>
								<input type="password" id="pwd2" name="pwd2" placeholder="password">
							</li>
							<li><input type="submit" class="btn" value="注册" /></li>
						</ul>
					</form>
				</div>
			</div>
			<div class="span5">
				<div class="into">
					<h3>已经有一个账户了?</h3>
					<div> <a href="/sys/login">登陆</a> </div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="footer">
		<div class="container">
		<p><a href="/about">about</a></p>	
		</div>
	</div>
	<script type="text/javascript">
		var json = [
			{
				id:"email",
				email:{rule:true,msg:"请添加正确的邮箱格式"}

			},
			{
				id:"name",
				minLength:{rule:1,msg:"请设置昵称"}

			},
			{
				id:"pwd",
				minLength:{rule:6,msg:"密码最少6位"},
				maxLength:{rule:16,msg:"密码最长16位"}

			},
			{
				id:"pwd2",
				minLength:{rule:6,msg:"确认密码"},
				maxLength:{rule:16,msg:"确认密码"}
			}
		];

		var regForm = new CheckForm(json);

		$('#regForm').click(function(){
			if( regForm.okay() ){
				if(regForm.getValue("pwd") == regForm.getValue("pwd2")){
					return true;
				}else{
					alert("两次密码不一致");
					return false;	
				}
			};

			return false;
		});
	</script>
</body>
</html>