<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Vchat</title>	
</head>
<body>
	登录成功,正在跳转...
	<script type="text/javascript">
		document.location.href = '<%=state%>';
	</script>
</body>
</html>