<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Vchat</title>
	
</head>
<body>
	<div>
			<p><%=mail%></p>
			<p>欢迎加入 Vchat, 正在为你跳转页面...</p>
			<p>未正确跳转请	<a href="/">	点击 </a></p>
	</div>
	<script type="text/javascript">
		setTimeout(function(){

			window.location.href = "/";

		}, 3000)
	</script>
</body>
</html>