a{cursor: pointer;}
a:link{color: #37a;text-decoration: none;}
a:visited{color:#669;text-decoration: none;}
a:hover{color: #fff;text-decoration: none;background: #37a;}
a:active{color: #fff;text-decoration: none;background: #f93;}
.icon{display: inline-block;width: 14px;height: 14px;margin-top: 1px;line-height: 14px;vertical-align: text-top;
background-image: url("../images/glyphicons-halflings.png");background-position: 14px 14px;background-repeat: no-repeat;}
.icon-edit{background-position: -96px -72px;}
.f-r{float:right}
.f-l{float:left}