<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
	<title>VChat手机版</title>
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>

	<link rel="stylesheet" type="text/css" href="../../public/css/m/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../public/css/m/page.index.css"/>

</head>
<body>
	<div class="page">
		<div class="screen-wrap fullscreen" id="wrapper">
			<header id="chat-title">
				<a class="back" href="http://vchat.co">< 返回</a>
				<h1>CK.Ming</h1>
				<a class="setting" href="javascript:void(0)">设</a>
			</header>

			<div class="content">

				<div class="personal">
					<img src="http://www.gravatar.com/avatar/b7fdffcba6db560e7589d706a6bcd305.jpg?s=120&d=blank&r=g">
					<h1>CK.Ming</h1>
					<!-- <p>骑马者CK。</p> -->
				</div>

				<div class="personal-chats">
					<div class="group">
						<h2>CK.Ming 创建的</h2>
						<ul class="room-list">
							<li>
								<a href="/1364886786566" title="需要密码的房间">
									需要密码的房间
								</a>
								<small>
									<span class="des">-这里的房间</span>
								</small>
								<small>
									<span class="time">2013-04-02 15:13:06</span>
								</small>
							</li>

							<li>
								<a href="/1364886786566" title="需要密码的房间">
									需要密码的房间
								</a>
								<small>
									<span class="des">-这里的房间</span>
								</small>
								<small>
									<span class="time">2013-04-02 15:13:06</span>
								</small>
							</li>
							
						</ul>
					</div>

					<div class="group">
						<h2>CK.Ming 参与的</h2>
						<ul class="room-list">
							<li>
								<a href="/1364886786566" title="需要密码的房间">
									需要密码的房间
								</a>
								<small>
									<span class="des">-这里的房间</span>
								</small>
								<small>
									<span class="time">2013-04-02 15:13:06</span>
								</small>
							</li>

							<li>
								<a href="/1364886786566" title="需要密码的房间">
									需要密码的房间
								</a>
								<small>
									<span class="des">-这里的房间</span>
								</small>
								<small>
									<span class="time">2013-04-02 15:13:06</span>
								</small>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
</body>
</html>