<header>

	<% if(user){ %>
	<div class="pull-right header-menu">
		<div class="notice-box">
			<a href="/user/notices">
				<i class="icon-noticedefault"></i>
			</a>
		</div>
		<div class="account-box">
			<a target="_blank" class="nick-name" href="/user/<%=user._id %>">
				<img src="<%=user.avatar%>">
				<%=user.name =="" ? "(暂无昵称)": user.name %>
			</a>
		</div>
	</div>
	<% }else{ %>
	<div class="pull-right header-unlogin">
		<a href="/sys/reg">Create an account</a>
		<a href="/sys/login">Sign in</a>
	</div>
	<% } %>
</header>