<header>
	<div class="pull-left header-links links-dot hidden">
		<a class="home" href="/">vchat.co</a>
		<a class="dotted">...</a>
	</div>
	<div class="pull-left header-links links-show">
		<a class="home" href="/">vchat.co</a>
		<% var pageName = typeof page == "undefined" ? "none" : page; %>
		<div class="search-box">
			<input placeholder="Search topics">
		</div>
		<div class="menu-links">
			<a href="/recommend" <% if( pageName == "recommend"){ %> class="select" <% } %>>Recommend</a>
			<a href="/recently" <% if( pageName == "recently"){ %> class="select" <% } %>>Recently</a>
		</div>
	</div>
	<% if(user){ %>
	<div class="pull-right header-menu">
		<div class="notice-box">
			<a href="/user/notice">
				<i class="icon-noticedefault"></i>
			</a>
		</div>
		<div class="account-box">

			<a class="nick-name" href="/user/home">
				<img src="<%=user.avatar%>">
				<%=user.name =="" ? "(未设置昵称)": user.name %>
			</a>
			<div class="drop-list">
				<ul>
					<li>
						<a href="/user/home">
							Home Page
						</a>
					</li>
					<!-- <li>
						<a href="/user/<%=user._id%>">
							
							Personal page
						</a>
					</li> -->
					<li>
						<a href="/user/edit-avatar">
							Edit Avatar
						</a>
					</li>

					<% if( !/^[\w._\-]+@[\w_\-]+\.\w+$/.test(user.mail) ){ %>
					<li>
						<a href="/user/bind-mail">
							
							Bind Email
						</a>
					</li>
					<% } %>

					<li>
						<a class="login-out" href="/out">				
							Login out
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<% }else{ %>
	<div class="pull-right header-unlogin">
		<a href="/reg">Create an account</a>
		<a href="/login">Sign in</a>
	</div>
	<% } %>
</header>