<form action="/sys/bindmail" method="post" id="bindMialForm" >
	<ul class="reset" style='width:400px;'>
		<li><p>绑定Email以便在其他设备登录</p>
		</li>
		<li>
			<label>邮箱地址</label>
			<input type="text" value="" id="updateMail" name="mail" placeholder="作为登录账户" >
		</li>
		<li>
			<label>密码</label>
			<input type="password" value="" id="updatePwd" name="pwd" placeholder="作为登录密码"  > 
		</li>
		<li>
			<input type="submit" value="提交" class="btn"> 
			<a href="javascript:;" class="out" >取消</a> 
		</li>
	</ul>
</form>