<ol>
	<li>
		<p>保留输入格式 : 文本前后添加"```"</p>
		<div class="row">
			<div class="span4">
				<span>```</span>
				<p>vchat是一个基于多人对话的讨论平台</p>
				<span>```</span>
			</div>
			<div class="span4">
				<pre>vchat是一个基于多人对话的讨论平台</pre>
			</div>
		</div>
	</li>
	<li>
		<p>链接输出 : 带有"http"或者"https"开头的字符串会被解析成链接</p>
		<div class="row">
			<div class="span4">
				链接 http://vhat.co
			</div>
			<div class="span4">
				链接 <a href="http://vchat.co">http://vchat.co</a>
			</div>
		</div>
	</li>
</ol>