<ol>
	<li>
		<p>预定格式输出 : 在想按照预定格式输出的文本前后添加" ```` "(前后各四个 ` 符号)</p>
		<p>	
			<span>实例:</span>
			<div class="row">
				<div class="span4">
					<span>````</span>
					<p>vchat是什么?</p>
					<p>&nbsp;&nbsp;vchat是一个基于多人对话的讨论平台</p>
					<span>````</span>
				</div>
				<div class="span4">
					<pre>vchat是什么?

	vchat是一个基于多人对话的讨论平台</pre>
				</div>
			</div>
		</p>
	</li>
</ol>