<form action="/sys/set_user_name" method="post" id="setUserNameForm" >
	<ul class="reset" style="width:300px;">
		<%if(name == ""){%>
			<li><p>你将以临时用户身份加入对话</p></li>
		<%}else{%>
			<li><p>新的发言会使用新昵称</p></li>
		<%}%>
		<li>
			<input type="text" value="<%=name%>" id="newUserName" name="name" placeholder="输入昵称" >
		</li>
		<li>
			<input type="submit" value="提交" class="btn"> 
			<%if(name == ""){%>
			| <a href="javascript:;" id="anonymous" >匿名加入</a> 
			| <a href="/sys/login?referer=<%=encodeURIComponent(document.location.href)%>">切换账户?</a>
			<%}else{%>
			| <a href="javascript:;" class="out">取消</a> 
			| <a href="/sys/login?referer=<%=encodeURIComponent(document.location.href)%>">登陆其他账户?</a>
			<%}%>
			
		</li>
	</ul>
</form>