<div id="video-chat-tmpl" style="height:100%;">
	<div class="operation">
		<span class="close js-close">
			<i class="icon-close"></i>
		</span>
	</div>
	<div class="view-area js-view-area">
		<video autoplay="autoplay"></video>
	</div>
	<div>
		<div class="list-area js-list">	
			Loading...
		</div>
	</div>
</div>