<form action="/sys/update_room" method="post" id="updateRoomForm" >
	<ul class="reset">
		<li>
			<label>访问地址</label>
			<div><%=document.location.host%>/<%= name ? name : id %></div>
		</li>
		<li>
			<label>主题</label>
			<div>
				<%=topic%>
			</div>
		</li>
		<li>
			<label>副标题</label>
			<div><%=des%></div>
		</li>
		<li>
			<input type="button" value="确定" class="btn out">
		</li>
	</ul>
</form>